/* general */

a {
    color: #5dc7e4;
}


body {
    font-family: 'p22-underground', Helvetica, 'sans-serif';
    color: #222;
}

.page-title h4{
    padding-top: 0.5em;
    font-family: 'Gastromond', 'Futura PT Bold', 'serif';
    text-align: center;
    margin: 0;
  }

.login h4 {
    text-align: left !important;
}

.page-img img{
	width: 35%;
	height: 50%;
	display: block;
	margin: 0 auto;

}

h5 {
    margin-bottom: 0rem;
    font-size: 1rem;
    font-weight: 600;
}

/* nav bar */

nav.bg-ccl {
  background-color: #5dc7e4;
}

a.nav-item.nav-link {
    color: white !important;
}
  
a.nav-item.nav-link.nav-color {
    color: black !important;
    opacity: 0.7;
  }

.block {
    margin-left: 100px;
    margin-right: 100px;
}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

/* Image settings */
img.logo {
    width: 6%;
}

img.bug {
    width: 50%;
}

/* Index input */
.round-btn {
    border-radius: 12px;
}

/* Custom settings for sprite images */
img.sprite {
  width: 100%;
  min-width: 130px;
  max-width: 150px;
  height: auto;
  border: 2px solid black;
  padding: 5px;
  margin: 20px;
}

.sprite-color {
  color: #5dc7e4;
  font-weight: bold;
}

/* For ScratchBlocks */
.scratchblocks {
    zoom: 0.675;
}

.markItUp .scratchblocks-button ul a {
    padding: 0;
    height: auto;
    margin: 0 0 -12px;
}

/* Kind of ridiculous that the alternative to writing these lines of
   CSS and a few lines of JavaScript is importing all of jQuery in
   order to use Bootstrap's JS. */
.modal.show {
    display: block !important;
}

.modal.fade {
    background: rgba(0, 0, 0, .2);
}

.modal-body.scrollable {
    max-height: 24rem;
    overflow-y: auto;
}

.w-10 {
    width: 10%;
}

.modal-title:first-letter, .modal-footer button:first-letter {
    text-transform: uppercase;
}

/* The schema editor */
.required_outer {
    margin: .5rem 0;
    padding: .5rem;
    width: calc(100% - 1rem);
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}

#block_input_helper {
    display: none;
    width: 20%;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}

.hide {
    display: none;
}
