body {
  font-family: 'gastromond', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.block {
    margin-left: 100px;
    margin-right: 100px;
  }

  .block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  .centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
  }

img.logo {
    width: 6%
}

img.sprite {
  width:50%
}

.scratchblocks {
  zoom: 0.675;
}
.markItUp .scratchblocks-button ul a {
  padding: 0;
  height: auto;
  margin: 0 0 -12px;
}
