/* strategies.html CSS page */

.three.columns { 
  width: 22%;           
 }

/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.row-card{
  padding: 0rem 2rem 4% 2rem;
}

.row-card-last{
  padding: 0rem 2rem 4% 2rem;
} /* this exists so that the last row (w/ only one element isn't shuffled randomly */

.card-image {
  width: 100%;
}

.s {
  border-color: #f9d433;
  border-style: solid;
  border-width: thick;
}

/* Hover stuff is from this codepen: https://codepen.io/ArnaudBalland/pen/vGZKLr */

.card-container .content-overlay {
  background: #f9d433;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.card-container{
  position: relative;
  width: 100%;
  margin-left: 2%;
  overflow: hidden;
}


@media only screen and (max-width: 768px) {
  .card-container{
    margin-bottom: 4%;
  }

/* + figure out mobile functionality. Tap to show??
+ make font size bigger */

}

.card-container:hover .content-overlay {
  opacity: 1;
}

.card-details{
  position: absolute;
  text-align: center;
  padding: 2em 2em 1em 2em;
  width: 80%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.card-container:hover .card-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom{
  top: 80%;
}

.card-details p{
  font-size: 0.8rem;
}

.card-details h3{
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
