{% extends "layout.html" %}

{% block title %}Edit schema &minus; {% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-12">
        <h1>
            Edit schema
        </h1>
        <p>
            Schemas contain requirements for projects.
        </p>
        <form action="/admin/schema/edit" method="POST" data-schema-id="{{ schema_id }}" id="schema_form">
            <h6 class="mt-3">DISPLAY</h6>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="short_label">Short label</label>
                    <input type="text" class="form-control" id="short_label" name="short_label"
                    {% if "short_label" in data: %}value="{{ data['short_label'] }}"{% endif %}
                    placeholder="Day #">
                </div>
                <div class="form-group col-md-4">
                    <label for="title">Title of schema</label>
                    <input type="text" class="form-control" id="title" name="title"
                    {% if "title" in data: %}value="{{ data['title']}}"{% endif %}
                    placeholder="If blank, this will be the studio title.">
                </div>
                <div class="form-group col-md-6">
                    <label for="description">Description of schema</label>
                    <input type="text" class="form-control" id="description" name="description"
                    {% if "description" in data: %}value="{{ data['description']}}"{% endif %}
                    placeholder="If blank, this will be the studio description.">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="prompt_framing_text">Prompt framing text</label>
                    <small class="form-text text-muted">
                        This text appears before the prompt -- it's the first thing on the page. It is written in Markdown.
                        To display a block, type [sb]code[/sb] where code is the
                        <a href="https://en.scratch-wiki.info/wiki/Block_Plugin/Syntax" target="_blank">Scratchblocks syntax</a>
                        for the block(s) of choice.
                    </small>
                    <div class="form-control code" id="prompt_framing_text" name="prompt_framing_text">{% if "prompt_framing_text" in data["text"]: %}{{ data["text"]["prompt_framing_text"] }}{% endif %}</div>
                    <a href="#" data-action="preview_markdown" data-editor="prompt_framing_text">Preview</a>
                </div>
                <div class="form-group col-md-6">
                    <label for="explanation">Explanation</label>
                    <small class="form-text text-muted">
                        This text is used at the top of the project results page.
                    </small>
                    <div class="form-control code" id="explanation" name="explanation">{% if "explanation" in data["text"]: %}{{ data["text"]["explanation"] }}{% endif %}</div>
                    <a href="#" data-action="preview_markdown" data-editor="explanation">Preview</a>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="stats_framing_text">Studio stats framing text</label>
                    <small class="form-text text-muted">
                        This text is used to preface any studio statistics you choose to display on the project results page.
                    </small>
                    <div class="form-control code" id="stats_framing_text" name="stats_framing_text">{% if "stats_framing_text" in data["text"]: %}{{ data["text"]["stats_framing_text"] }}{% endif %}</div>
                    <a href="#" data-action="preview_markdown" data-editor="stats_framing_text">Preview</a>
                </div>
                <div class="form-group col-md-6">
                    <label for="concluding_text">Concluding text</label>
                    <small class="form-text text-muted">
                        This text is the last text the user sees
                        and should offer some guiding reflection questions.
                    </small>
                    <div class="form-control code" id="concluding_text" name="concluding_text">{% if "concluding_text" in data["text"]: %}{{ data["text"]["concluding_text"] }}{% endif %}</div>
                    <a href="#" data-action="preview_markdown" data-editor="concluding_text">Preview</a>
                </div>
            </div>
            <hr>
            <h6 class="mt-3">INSPIRATION PROJECTS</h6>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="comparison_basis">How to find inspiration projects</label>
                    <small class="form-text text-muted">
                        We can search for inspiration projects based on the text, category, or block requirements.
                        Read the documentation for information about how this algorithm works.
                    </small>
                    <select class="form-control" id="comparison_basis" name="comparison_basis">
                        <option value="__none__" {% if data["comparison_basis"]["basis"] == "__none__": %}selected{% endif %}>None</option>
                        <option value="required_text" {% if data["comparison_basis"]["basis"] == "required_text": %}selected{% endif %}>Required text</option>
                        <option value="required_block_categories" {% if data["comparison_basis"]["basis"] == "required_block_categories": %}selected{% endif %}>Required block categories</option>
                        <option value="required_blocks" {% if data["comparison_basis"]["basis"] == "required_blocks": %}selected{% endif %}>Required blocks</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="comparison_framing_text">Inspiration framing text</label>
                    <small class="form-text text-muted">
                        This text is used to preface the code excerpts from other projects.
                    </small>
                    <div class="form-control code" id="comparison_framing_text" name="comparison_framing_text">{% if "comparison_framing_text" in data["text"]: %}{{ data["text"]["comparison_framing_text"] }}{% endif %}</div>
                    <a href="#" data-action="preview_markdown" data-editor="comparison_framing_text">Preview</a>
                </div>
                <div class="form-group col-md-6">
                    <label for="comparison_reflection_text">Inspiration reflection text</label>
                    <small class="form-text text-muted">
                        This text is used at the end of the code excerpts from other projects.
                    </small>
                    <div class="form-control code" id="comparison_reflection_text" name="comparison_reflection_text">{% if "comparison_reflection_text" in data["text"]: %}{{ data["text"]["comparison_reflection_text"] }}{% endif %}</div>
                    <a href="#" data-action="preview_markdown" data-editor="comparison_reflection_text">Preview</a>
                </div>
            </div>
            <hr>
            <h6 class="mt-3">PROJECT META</h6>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="min_instructions_length">Minimum instructions length</label>
                    <input type="number" class="form-control" id="min_instructions_length" name="min_instructions_length" value="{{ data['min_instructions_length'] }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="min_description_length">Minimum description length</label>
                    <input type="number" class="form-control" id="min_description_length" name="min_description_length" value="{{ data['min_description_length'] }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="min_comments_made">Minimum # comments made on other projects</label>
                    <input type="number" class="form-control" id="min_comments_made" name="min_comments_made" value="{{ data['min_comments_made'] }}">
                </div>
            </div>
            <hr>
            <h6 class="mt-3">PROJECT ANALYSIS</h6>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="min_blockify_comments">Minimum # code comments</label>
                    <input type="number" class="form-control" id="min_blockify_comments" name="min_blockify_comments" value="{{ data['min_blockify']['comments'] }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="min_blockify_costumes">Minimum # costumes</label>
                    <input type="number" class="form-control" id="min_blockify_costumes" name="min_blockify_costumes" value="{{ data['min_blockify']['costumes'] }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="min_blockify_sounds">Minimum # sounds</label>
                    <input type="number" class="form-control" id="min_blockify_sounds" name="min_blockify_sounds" value="{{ data['min_blockify']['sounds'] }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="min_blockify_sprites">Minimum # sprites</label>
                    <input type="number" class="form-control" id="min_blockify_sprites" name="min_blockify_sprites" value="{{ data['min_blockify']['sprites'] }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="min_blockify_variables">Minimum # variables</label>
                    <input type="number" class="form-control" id="min_blockify_variables" name="min_blockify_variables" value="{{ data['min_blockify']['variables'] }}">
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="form-group col-md-4">
                    <label>Required text</label>
                    <small class="form-text text-muted">
                        Each of the boxes contains options. Each box must have one
                        option fulfilled for the project to validate against the schema.
                    </small>
                    <div id="required_text">
                        {% for req in data["required_text"]: %}
                        <div class="required_outer mt-2" data-tr-id="{{ loop.index0 }}">
                            {% set outer = loop.index0 %}
                            {% if loop.index0 == 0: %}
                            <small><em>one of these</em></small>
                            {% else: %}
                            <small><em>and one of these</em></small>
                            {% endif %}
                            <button class="btn btn-outline-secondary float-right mb-2" type="button" data-action="remove_parent" data-times="1" data-decrement="add_tr_btn;maxRtId">&times;</button>
                            <div>
                                <input type="radio" name="rt_comparison_basis" value="{{ loop.index0 }}" id="rt_comparison_basis_{{ loop.index0 }}" {% if data["comparison_basis"]["basis"] == "required_text" and data["comparison_basis"]["priority"] == loop.index0: %}checked{% endif %}>
                                <label for="rt_comparison_basis_{{ loop.index0 }}">comparison basis</label>
                            </div>
                            <div class="required_inner">
                                {% for opt in req: %}
                                <div class="input-group mt-2" data-to-id="{{ loop.index0 }}">
                                    <input type="text" class="form-control" placeholder="text option" value="{{ opt }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" data-action="remove_parent" data-times="2">&times;</button>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-secondary mt-2" data-action="add_to" data-max-to-id="{{ (req|length - 1) }}">Add option</button>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" id="add_tr_btn" class="btn btn-secondary mt-2" data-action="add_tr" data-max-rt-id="{{ (data['required_text']|length - 1) }}">Add requirement</button>

                    <div class="form-group mt-3">
                        <label for="required_text_failure">Message (if requirement not met)</label>
                        <input type="text" class="form-control" id="required_text_failure" name="required_text_failure" value="{{ data['required_text_failure'] }}">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Required block categories</label>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Min # blocks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cat in blocks: %}
                            <tr>
                                <td>{{ cat }}</td>
                                <td>
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="min_categories_{{ cat }}" id="min_categories_{{ cat }}" value="{% if cat in data["required_block_categories"]: %}{{ data["required_block_categories"][cat] }}{% else: %}0{% endif %}">
                                        <div class="form-control col-2 p-1 pt-2 text-center">
                                            <input type="radio" name="rc_comparison_basis" value="{{ cat }}" {% if data["comparison_basis"]["basis"] == "required_block_categories" and data["comparison_basis"]["priority"] == cat: %}checked{% endif %}>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="form-group col-md-4">
                    <label>Required blocks</label>
                    <small class="form-text text-muted">
                        Each of the boxes contains a grouping of required blocks.
                        One of the groupings must be fully present for the project to validate against the schema.
                    </small>
                    <div id="required_blocks">
                    {% for req in data["required_blocks"]: %}
                        <div class="required_outer mt-2" data-br-id="{{ loop.index0 }}">
                            {% set outer = loop.index0 %}
                            {% if loop.index0 == 0: %}
                            <small><em>all of these</em></small>
                            {% else: %}
                            <small><em>or all of these</em></small>
                            {% endif %}

                            <button class="btn btn-outline-secondary float-right mb-2" type="button" data-action="remove_parent" data-times="1" data-decrement="add_br_btn;maxRbId">&times;</button>
                            <div class="required_inner">
                                {% for opt in req: %}
                                <div class="input-group mt-2" data-bo-id="{{ loop.index0 }}">
                                    <input type="text" class="form-control block_input" placeholder="block requirement" value="{{ opt }}">
                                    <input type="number" class="form-control col-3" placeholder="min" required value="{{ req[opt] }}">
                                    <div class="form-control col-1 p-1 pt-2 text-center"><input type="radio" name="rb_comparison_basis_{{ outer }}" value="{{ loop.index0 }}" {% if data["comparison_basis"]["basis"] == "required_blocks" and data["comparison_basis"]["priority"][outer] == opt: %}checked{% endif %}></div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" data-action="remove_parent" data-times="2">&times;</button>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-secondary mt-2" data-action="add_bo" data-max-bo-id="{{ (req|length - 1) }}">Add requirement</button>
                        </div>
                    {% endfor %}
                    </div>
                    <button type="button" id="add_br_btn" class="btn btn-secondary mt-2" data-action="add_br" data-max-rb-id="{{ (data['required_blocks']|length - 1) }}">Add option</button>
                    
                    <div class="form-group mt-3">
                        <label for="required_blocks_failure">Message (if requirement not met)</label>
                        <input type="text" class="form-control" id="required_blocks_failure" name="required_blocks_failure" value="{{ data['required_blocks_failure'] }}">
                    </div>
                </div>
            </div>
            <hr>
            <h6 class="mt-3">STUDIO STATS TO SHOW</h6>
            <small class="form-text text-muted">These stats will show at the bottom of the project results page.</small>
            <div class="form-row mt-2">
                {% for i in range(5): %}
                    {% set selected = data["stats"][i]|get_selected %}

                    <div class="form-group col">
                        <!-- Base options -->
                        <select class="form-control studio_stats" name="studio_stats_{{ loop.index0 }}" id="studio_stats_{{ loop.index0 }}" data-stat-id="{{ loop.index0 }}">
                            <option value="__none__">None</option>
                        {% for stat in stats: %}
                            <option disabled>{{ stat }}</option>
                            {% for metric in stats[stat]: %}
                            <option value="{{ stat }}/{{ metric }}" {% if [stat, metric]|join("/") in selected: %}selected{% endif %}>{{ stat }} {{ metric }}</option>
                            {% endfor %}
                        {% endfor %}
                        </select>

                        <!-- More detailed options -->
                        <select class="form-control mt-1 {% if 'block_categories' not in selected: %}d-none{% endif %}" name="studio_stats_category_{{ loop.index0 }}" id="studio_stats_category_{{ loop.index0 }}">
                            {% for cat in blocks: %}
                                <option value="{{ cat }}" {% if cat in selected: %}selected{% endif %}>{{ cat }}</option>
                            {% endfor %}
                        </select>
                        <input class="form-control mt-1 block_input {% if 'blocks' not in selected: %}d-none{% endif %}" name="studio_stats_block_{{ loop.index0 }}" id="studio_stats_block_{{ loop.index0 }}" placeholder="block" {% if 'blocks' in selected: %}value="{{ data["stats"][i].split("/")|last }}"{% endif %}>
                    </div>
                {% endfor %}
            </div>
            <div class="form-row mt-2 mb-3">
                <div class="form-group col-12">
                    <button type="submit" class="btn btn-primary float-right">Save schema</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="block_input_helper">
    <div class="list-group list-group-flush">
        {% for cat in blocks: %}
            <div class="list-group-item list-group-item-secondary" data-block-category="{{ cat }}">{{ cat }}</div>

            {% for block in blocks[cat]: %}
            <button type="button" class="list-group-item" data-action="choose_block" data-opcode="{{ block }}">
                <strong>{{ blocks[cat][block] }}</strong> - {{ block }}
            </button>
            {% endfor %}
        {% endfor%}
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Modal title</h5>
                <button type="button" class="close" data-action="close_modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="modal_form" id="modal_form">
                <div class="modal-body scrollable" id="modal_body">
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-action="close_modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js"></script>
<script>
    let block_list = {{ block_list|safe }};
    let block_dict = {{ block_dict|safe }};
    let categories = {{ categories|safe }};
</script>
<script src="/static/js/common_edit.js"></script>
<script src="/static/js/admin_schema_add.js"></script>

{% endblock %}