{% extends "layout.html" %}
{% block title %}Studios &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <h1>
            Studios
        </h1>

        <p>
            <a href="/studio">Add</a>&nbsp;&nbsp;
        </p>

        <table class="table table-responsive-lg">
            <thead>
                <tr data-identifier="__model__">
                    <th data-field="studio_id">ID</th>
                    <th data-field="title">Title</th>
                    <th data-field="description">Description</th>
                    <th data-field="challenge_id">Schema</th>
                    <th data-field="public_show">Show</th>
                    <th data-field="status">Status</th>
                    <th data-field="actions" class="w-10">Actions</th>
                </tr>
            </thead>
            <tbody id="table_body">
                {% for studio in info["studios"] %}
                <tr data-identifier="{{ studio['studio_id'] }}">
                    <td data-field="studio_id">{{ studio["studio_id"] }}</td>
                    <td data-field="title">{{ studio["title"] }}</td>
                    <td data-field="description">{{ studio["description"] }}</td>
                    <td data-field="challenge_id">
                        {% if "challenge_id" not in studio: %}
                        None
                        {% else: %}
                        <a href="/admin/schemas/edit/{{ studio['challenge_id'] }}">View</a>
                        {% endif %}
                    </td>
                    <td data-field="public_show">
                        {% if studio["public_show"]: %}
                        <span class="fa fa-check"></span>
                        {% else: %}
                        <span class="fa fa-times"></span>
                        {% endif %}
                    </td>
                    <td data-field="status">{{ studio["status"] }}</td>
                    <td data-field="actions" class="col-2">
                        <a href="/studio/{{ studio['studio_id'] }}" title="More" class="fa fa-info"></a>&nbsp;
                        <a href="#" title="Choose prompt schema" data-action="choose_schema" data-identifier="{{ studio['studio_id'] }}" class="fa fa-link"></a>&nbsp;
                        <a href="#" title="Toggle public visibility" class="fa fa-globe" data-action="toggle_publicity" data-to="{{ not studio['public_show'] }}"></a>&nbsp;
                        <a href="#" title="Redownload" class="fa fa-cloud-download" data-action="redownload" data-identifier="{{ studio['studio_id'] }}"></a>&nbsp;
                        <a href="https://scratch.mit.edu/studios/{{ studio['studio_id'] }}" title="View on Scratch" class="fa fa-external-link" target="_blank"></a>&nbsp;
                        <a href="#" data-action="delete" data-identifier="{{ studio['studio_id'] }}" title="Delete" class="fa fa-trash"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="/studio">Add</a>&nbsp;&nbsp;
        </p>
    </div>
</div>
{% endblock %}

{% block end_file %}

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Modal title</h5>
                <button type="button" class="close" data-action="close_modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="modal_form" id="modal_form">
                <div class="modal-body scrollable" id="modal_body">
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-action="close_modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-action="submit_modal">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
let challenge_schemas = {{ info["schemas"]|safe }};
</script>
<script src="/static/js/common_edit.js"></script>
<script src="/static/js/table_edit.js"></script>
<script src="/static/js/admin_studio.js"></script>

{% endblock %}