{% extends "layout.html" %}

{% block title %}Utilities &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <h1>
            Utilities tools
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="/certificate/generate" class="btn btn-primary">Generate certificates</a>
        <a href="/summary/generate" class="btn btn-primary">Generate summary page</a>
        <a href="/cache/clear" class="btn btn-primary">Clear cache</a>
    </div>
</div>

{% endblock %}