{% extends "layout.html" %}
{% block title %}About &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <h1 class="gastromond big text-center">About</h1>
        <div class="page-img">
            <img src="/static/img/SIGCSE_Motivation.png" alt="Computer">
        </div>

        <h5>What is this?</h5>
        <p>Getting Unstuck is 10 days of small programming prompts in Scratch, delivered to your email inbox on weekdays from July 6 until July 17, 2020. In July 2018, we did 21 days of prompts; you can find the archive of those challenges <a href="https://us18.campaign-archive.com/home/?u=5dd4d8b32f719a30cbde507c6&id=cc0b423621" target="_blank">here</a>.</p>

        <h5>Who is this for?</h5>
        <p>We designed this learning experience for PK–12 teachers who are passionate or curious about supporting creative work with <a href="https://scratch.mit.edu" target="_blank">Scratch</a> (a graphical programming language and online community being used by millions of young people around the world) in the classroom. But anyone who enjoys programming puzzles and learning with others is welcome to participate. Supporting students in pursuing creative work, with all of the twists and turns that can entail, can be tricky. As a teacher, in addition to having an adventurous spirit and genuine curiosity, it can help to have greater familiarity and fluency with Scratch. Our goal for Getting Unstuck is supporting that familiarity and fluency—by inviting you into these daily programming prompts and connecting you with a supportive community of fellow learners.</p>

        <h5>What do I do now?</h5>
        <p>First, <a href="/signup" target="_blank">sign up for the daily newsletter</a>. Then, starting July 6, you'll receive a daily email with an invitation to explore an idea, create and share a Scratch project, and reflect on what you've made. When you get stuck, find inspiration and support from the <a href="https://www.facebook.com/groups/GettingUnstuckCommunity/" target="_blank">Getting Unstuck Facebook group</a>, our list of <a href="/strategies" target="_blank">Getting Unstuck strategies</a>, or on <a href="https://twitter.com/search?f=tweets&vertical=default&q=%23GettingUnstuck" target="_blank">Twitter at #GettingUnstuck</a>.</p>

        <h5>What if I don't know anything about Scratch?</h5>
        <p>That's totally fine! Before diving into the daily challenges, try out this <a href="https://scratch.mit.edu/projects/editor/?tutorial=all" target="_blank">interactive online Scratch tutorial</a>.</p>

        <h5>Who are you?</h5>
        <p>We are Paulina Haduong (a doctoral student) and Karen Brennan (a faculty member). We work, learn, and play at the Harvard Graduate School of Education. We love designing learning experiences and helping people develop their creative computing confidence!</p>

        <p>This year, our facilitation team also includes Kimberly Boyce-Quentin, Bradley Quentin, and Susan Leifer. Kimberly, Bradley, and Susan all participated in Getting Unstuck 2018 and bring a wealth of experience teaching Scratch.</p>
        
        <p>The Getting Unstuck summer 2020 experience has also been made possible with the support of members of the Creative Computing Lab: Joshua Archibald, Amy Zhou, and Laura Peters.</p>

        <div class="text-center mt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c_AdWB1GkRw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}
