{% extends "layout.html" %}
{% block title %}Curriculum &minus; {% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-12">
        <h1 class="gastromond big text-center">Curriculum</h1>
        <p> Getting Unstuck is a computer science curriculum for students in 4th, 5th, and 6th grade, using the Scratch programming environment. The curriculum aims to increase fluency with code through open-ended student-directed projects that are constrained in only one way: by using a particular Scratch block (or set of blocks).</p>

        <p>Getting Unstuck is composed of 10 projects. Each project is organized around the creative computing design studio framework, which emphasizes learning through exploring, creating, sharing, and reflecting.</p>

        <p>Getting Unstuck is intended for teachers and students who have previous experience with Scratch; for an introductory creative computing experience with Scratch, we recommend the <a href="https://creativecomputing.gse.harvard.edu/guide/index.html" target="_blank">Creative Computing Curriculum.</a></p>

        <p>Getting Unstuck is available in Google Slides as the full curriculum or individual projects. Preview in Google Slides, download as a PDF, or edit by making a copy to remix and adapt the slides to your teaching context.</p>



        <!-- <div class="mb-4 text-center overflow-hidden">
            <a href="/participation" class="input-group-btn inline btn btn-primary button round-btn font-weight-normal">
                Download the entire curriculum
            </a>
        </div> -->

    </div>

</div>

<div class="row curriculum-row">
  <div class="col-md-5">
    <img src="/static/img/curriculum/curriculum_main.png" class="curriculum-img">
  </div>
  <div class="col-md-7">
    <h5>Getting Unstuck Curriculum</h5>
    <p>Download the entire curriculum or explore materials for each project below.</p>

    <p>Teacher materials (portrait): <b>Preview | Edit | Download</b>
    <br>Student materials (landscape): <b>Preview | Edit | Download</b>

  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5">
    <img src="/static/img/curriculum/front_matter.png" class="curriculum-img">
  </div>
  <div class="col-md-7">
    <h5>Getting started</h5>
    <p>The Getting Unstuck curriculum is organized around understanding the classroom as a creative computing design studio. Through the design studio framework, the Getting Unstuck curriculum supports students in making projects that deepen their creative and conceptual fluency. Learn more about the different components of the model here.</p>

    <p>Front matter: <b>Preview | Edit | Download</b>

  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/RSEAswH93Uk" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>When Clicked</h5>
    <p>In this project, students explore interactivity through the creation of surprises. By creating a surprise, students explore how to cause something to happen whenever the user clicks the stage or a sprite.</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>Key Press</h5>
    <p>In this project, students explore keyboard interactivity and events. An event is something that causes another thing to happen. Every time a key is pressed, that’s an event! Controlling sprites via the keyboard can be useful for making games and interactive narratives.</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>Parallelism</h5>
    <p>In this project, students explore parallelism, making two or more things happen at the same time. In Scratch, that could mean two or more code stacks on the same sprite (one sprite doing two things at the same time).</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>Loops</h5>
    <p>In this project, students explore loops by using repeat or forever blocks to make something happen multiple times. Loops can be useful for teaching students how to abstract and modularize their code.</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>


<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>Broadcasts</h5>
    <p>In this project, students explore broadcasting, or sending and receiving messages in Scratch. Broadcasts can be used to animate conversations or signal that certain events should occur in a project.</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>Color sensing</h5>
    <p>In this project, students explore conditionals through color sensing, making something happen if a sprite is touching a certain color. In Scratch, that can be useful for creating boundaries around where sprites can travel on the screen.</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>Random</h5>
    <p>In this project, students explore randomness, or making something happen with random numbers in their project. That could mean changing a sprite’s costume randomly, or picking random notes or sounds.</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>Ask and Answer</h5>
    <p>In this project, students explore taking in user input, storing it, and then doing something with that input through the ask and answer blocks. These blocks can be used to make projects interactive.</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>Variables</h5>
    <p>In this project, students explore variables, or storing, retrieving, and interacting with data. Variables can be used to keep track of different things, such as the score in a game.</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>

<div class="row curriculum-row">
  <div class="col-md-5 video-container embed-responsive embed-responsive-16by9">
  <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-md-7 details-curriculum">
    <h5>Lists</h5>
    <p>In this project, students explore lists, which can store multiple pieces of information. Lists can be used to do calculations, record information over time, and/or store user input.</p>
    <br>
    <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
  </div>
</div>






  <!-- 5/4 video experiments -->

  <!-- <div class="row curriculum-row col-12">

      <details>
        <summary>Project 1: When Clicked</summary>

        <div class="row">
        <div class="col-md-6 video-container embed-responsive embed-responsive-21by9">
        <!-- <iframe width=100% height=auto src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

        <!-- <iframe
          width="560"
          height="315"
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/kPauR6tP_cg"
          srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/kPauR6tP_cg?autoplay=1><img src=https://img.youtube.com/vi/kPauR6tP_cg/hqdefault.jpg alt='Chocolate chip cookies'><span>▶</span></a>"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          title="Chocolate chip cookies"
        ></iframe>

        </div>
        <div class="col-md-6">
      <div class="details-curriculum">
      <p>In this project, students explore the concept of parallelism, making two or more things happen at the same time. In Scratch, that could mean two or more code stacks on the same sprite (one sprite doing two things at the same time).</p>
      <br>
      <p>All project materials: <b>Preview | Edit | Download</b>
      <br>Landscape Student pages: <b>Preview | Edit | Download</b>
      <br>Portrait Student pages: <b>Preview | Edit | Download</b></p>
      </div>
        </div>
      </div>
      </details>

  </div> -->


  <!-- <div class="row curriculum-row">
    <div class="col-md-3">
      <img src="/static/img/curriculum/when_clicked_video_thumbnail.png" class="curriculum-img">
      <br>
      <!-- <div align="center"><b>Preview | Edit | Download</b></div> -->
    <!-- </div>
    <div class="col-md-9">
      <h5>When Clicked</h5>
      <div class="curriculum-description">
      <p>In this project, students explore interactivity through the creation of surprises. Interactivity is the communication between a human and a software program. By creating a surprise, students explore how to cause something to happen whenever the user clicks the stage or a sprite.</p>

      <p>All project materials:<b>Preview | Edit | Download</b>
      <br>Landscape Student pages:<b>Preview | Edit | Download</b>
      <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>
      </div>
    </div> -->




  <!-- </div> -->

  <!-- <div class="row curriculum-row">
    <div class="col-md-6">
      <h5>Front matter</h5>
      <img src="/static/img/curriculum/when_clicked_video_thumbnail.png" class="curriculum-img">
      <br>
      <p>In this project, students explore the concept of parallelism, making two or more things happen at the same time.</p>
      <p>Front matter: <b>Preview | Edit | Download</b>
        <br>Landscape student pages: <b>Preview | Edit | Download</b>
        <br>Portrait student pages: <b>Preview | Edit | Download</b></p>
    </div>

    <div class="col-md-6">
      <h5>Getting started</h5>
      <img src="/static/img/curriculum/when_clicked_video_thumbnail.png" class="curriculum-img">
      <br>
      <p>In this project, students explore the concept of parallelism, making two or more things happen at the same time.</p>
      <p>Getting started: <b>Preview | Edit | Download</b>
        <br>Landscape student pages: <b>Preview | Edit | Download</b>
        <br>Portrait student pages: <b>Preview | Edit | Download</b></p>
    </div>

  </div>

  <div class="row curriculum-row">
    <div class="col-sm-6">
      <h5>When Clicked</h5>
      <img src="/static/img/curriculum/when_clicked_video_thumbnail.png" class="curriculum-img">
      <br>
      <p>In this project, students explore the concept of parallelism, making two or more things happen at the same time.</p>
      <p>When Clicked: <b>Preview | Edit | Download</b>
        <br>Landscape student pages: <b>Preview | Edit | Download</b>
        <br>Portrait student pages: <b>Preview | Edit | Download</b></p>
    </div>

    <div class="col-sm-6">
      <h5>Key Press</h5>
      <img src="/static/img/curriculum/when_clicked_video_thumbnail.png" class="curriculum-img">
      <br>
      <p>In this project, students explore the concept of parallelism, making two or more things happen at the same time.</p>
      <p>Key press: <b>Preview | Edit | Download</b>
        <br>Landscape student pages: <b>Preview | Edit | Download</b>
        <br>Portrait student pages: <b>Preview | Edit | Download</b></p>
    </div>

  </div>

  <div class="row curriculum-row">
    <div class="col-sm-6">
      <details>
        <summary>Project 1: When Clicked</summary>
        <div class="video-container">
          <iframe width=100% height=auto src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="details-curriculum">
        <p>In this project, students explore interactivity through the creation of surprises. Interactivity is the communication between a human and a software program. By creating a surprise, students explore how to cause something to happen whenever the user clicks the stage or a sprite.</p>

        <p>All project materials:<b>Preview | Edit | Download</b>
        <br>Landscape Student pages:<b>Preview | Edit | Download</b>
        <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>

      </div>
      </details>
    </div>

    <div class="col-sm-6">
      <details>
        <summary>Project 2: Key Press</summary>
        <div class="details-curriculum">
        <p>In this project, students explore interactivity through the creation of surprises. Interactivity is the communication between a human and a software program. By creating a surprise, students explore how to cause something to happen whenever the user clicks the stage or a sprite.</p>

        <p>All project materials:<b>Preview | Edit | Download</b>
        <br>Landscape Student pages:<b>Preview | Edit | Download</b>
        <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>

      </div>
      </details>
    </div>

  </div>

  <div class="row curriculum-row">
    <div class="col-6">
      <details>
        <summary>Project 3: Broadcasts</summary>
        <div class="details-curriculum">
        <p>In this project, students explore interactivity through the creation of surprises. Interactivity is the communication between a human and a software program. By creating a surprise, students explore how to cause something to happen whenever the user clicks the stage or a sprite.</p>

        <p>All project materials:<b>Preview | Edit | Download</b>
        <br>Landscape Student pages:<b>Preview | Edit | Download</b>
        <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>

      </div>
      </details>
    </div>

    <div class="col-6">
      <details>
        <summary>Project 4: Parallelism</summary>
        <div class="details-curriculum">
        <p>In this project, students explore interactivity through the creation of surprises. Interactivity is the communication between a human and a software program. By creating a surprise, students explore how to cause something to happen whenever the user clicks the stage or a sprite.</p>

        <p>All project materials:<b>Preview | Edit | Download</b>
        <br>Landscape Student pages:<b>Preview | Edit | Download</b>
        <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>

      </div>
      </details>
    </div>

  </div>


<div class="row curriculum-row">
  <div class="col-4">
    <img src="/static/img/curriculum/when_clicked_video_thumbnail.png" class="curriculum-img">
    <br>
    <details>
      <summary>Project 1: When Clicked</summary>
      <div class="details-curriculum">
      <p>In this project, students explore interactivity through the creation of surprises. Interactivity is the communication between a human and a software program. By creating a surprise, students explore how to cause something to happen whenever the user clicks the stage or a sprite.</p>

      <p>All project materials:<b>Preview | Edit | Download</b>
      <br>Landscape Student pages:<b>Preview | Edit | Download</b>
      <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>

    </div>
    </details>

  </div>
  <div class="col-4">
    <img src="/static/img/curriculum/when_clicked_video_thumbnail.png" class="curriculum-img" align="center">
    <br>
    <details>
      <summary>Project 2: Key Press</summary>
      <div class="details-curriculum">In this project, students....Contrary to popular belief, Lorem Ipsum is not simply random text.
      It has roots in a piece of classical Latin literature from 45 BC, making
      it over 2000 years old. Richard McClintock, a Latin professor at
      Hampden-Sydney College in Virginia, looked up one of the more obscure
      Latin words, consectetur, from a Lorem Ipsum passage, and going through
      the cites of the word in classical literature, discovered the undoubtable source.

      <p>All project materials:<b>Preview | Edit | Download</b>
      <br>Landscape Student pages:<b>Preview | Edit | Download</b>
      <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>

      </div>
    </details>

  </div>
  <div class="col-4">
    <div align="center">
    <img src="/static/img/curriculum/when_clicked_video_thumbnail.png" class="curriculum-img">
    </div>
    <br>
    <details>
      <summary>Project 3: Parallelism</summary>

      <div class="details-curriculum">
      <p>In this project, students explore the concept of parallelism, making two or more things happen at the same time. In Scratch, that could mean two or more code stacks on the same sprite (one sprite doing two things at the same time).</p>
      <br>
      <p>All project materials:<b>Preview | Edit | Download</b>
      <br>Landscape Student pages:<b>Preview | Edit | Download</b>
      <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>
      </div>

    </details>

  </div>
</div>



<div class="row curriculum-row">
  <div class="col-6">
    <div align="center">
    <img src="/static/img/curriculum/when_clicked.png" class="curriculum-img">
    </div>
    <br>
    <details>
      <summary>Project 1: When Clicked</summary>
      <div class="details-curriculum">
      <p>In this project, students explore interactivity through the creation of surprises. Interactivity is the communication between a human and a software program. By creating a surprise, students explore how to cause something to happen whenever the user clicks the stage or a sprite.</p>

      <p>All project materials:<b>Preview | Edit | Download</b>
      <br>Landscape Student pages:<b>Preview | Edit | Download</b>
      <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>

    </div>
    </details>

  </div>
  <div class="col-6">
    <div align="center">
    <img src="/static/img/curriculum/key_press.png" class="curriculum-img" align="center">
    </div>
    <br>
    <details>
      <summary>Project 2: Key Press</summary>
      <div class="details-curriculum">In this project, students....Contrary to popular belief, Lorem Ipsum is not simply random text.
      It has roots in a piece of classical Latin literature from 45 BC, making
      it over 2000 years old. Richard McClintock, a Latin professor at
      Hampden-Sydney College in Virginia, looked up one of the more obscure
      Latin words, consectetur, from a Lorem Ipsum passage, and going through
      the cites of the word in classical literature, discovered the undoubtable source.

      <p>All project materials:<b>Preview | Edit | Download</b>
      <br>Landscape Student pages:<b>Preview | Edit | Download</b>
      <br>Portrait Student pages:<b>Preview | Edit | Download</b></p>

      </div>
    </details>

  </div> -->

<!-- </div> -->

{% endblock %}
