{% extends "layout.html" %}
{% block title %}Final &minus; {% endblock %}

{% block main_content %}

<!--Introduction-->
<div class="row">
    <div class="col-12">
        <h4 class="gastromond big text-center">10 Days of Getting Unstuck</h4>
        <div class="page-img">
            <img src="/static/img/SIGCSE_Motivation.png" alt="Computer">
        </div>
        <div class="md">
            
            <p>In the Creative Computing Lab, we often look to create playful learning opportunities where learners can experience "hard fun," which Seymour Papert explained as "fun because it was hard rather than in spite of being hard." It can be hard and frustrating for learners to continue to have fun if they get stuck, but practice using <a href="/strategies" target="_blank">strategies</a> to get unstuck can support learners in continuing their work. The Getting Unstuck project was inspired by the idea that getting stuck and unstuck are natural and important aspects of the creative process.</p>
    
            <p>From July 6–17, 2020, we sent out daily emails asking you to explore an idea, create a Scratch project, share that project to the daily studio, and reflect on their creative process. We designed this learning experience for PK–12 teachers who are passionate or curious about supporting creative work with <a href="https://scratch.mit.edu" target="_blank">Scratch</a> (a graphical programming language and online community being used by millions of young people around the world) in the classroom. Even in such a short amount of time (only two weeks!), we saw everyone challenging themselves to explore new things, reflecting deeply on their process, and supporting and encouraging others in their work. Here we'll share some of the exciting things we saw.</p>
            
            <p>We came from a lot of different places all over the world and made a lot of projects!</p></div>

<!--        need a new image class here?-->
        <div align="center">
            <img src="/static/img/temp/GU_%20map.png" width="500"  alt="Map of GU participants">
            <br><br>
        </div>
            

        
        <div class="row code-gray">
            <div class="col-md text-center py-3">
                <h1 class="gastromond">263</h1>
                <p class="my-0">participants</p>
            </div>
            <div class="col-md text-center py-3">
                <h1 class="gastromond">XX</h1>
                <p class="my-0">countries</p>
            </div>
            <div class="col-md text-center py-3">
                <h1 class="gastromond">1500</h1>
                <p class="my-0">projects</p>
            </div>

        </div>
        
        <div class="md">
            <p>We had a wide range of prior Scratch experience:</p>
        </div>
        
        <div align="center">
            <img src="/static/img/temp/prior.png" width="500" alt="Prior Scratch experience - wide range">
        </div>
        
    </div>
</div>

<div class="row">
    
      <div class="md">
            <p>We made lots of projects across our Getting Unstuck studios</p>
            <p>IMAGE OF STUDIOS W/ PROJECTS</p>
        </div>
    
        <div class="md col-9">
            <p>Each prompt asked us to explore a number of different computational concepts and blocks. Day 2 focused on key press interactivity, while Day 6, for example, focused on the <b>random</b> block. Regardless of the day, or how complex any individual project was, we used a lot of blocks!  </p>

        </div>
        
        <div class="col-3">
            <img src="/static/img/temp/steven.png" width="200" alt="image of Getting Unstuck logo: yellow bug">
        </div>
</div>
        
        <div class="row code-gray">
            <div class="col-md text-center py-3">
            <h1 class="gastromond">495,292</h1>
                <p class="my-0">total blocks</p>
            </div>

            <div class="col-md text-center py-3">
            <h1 class="gastromond">70</h1>
                <p class="my-0">average blocks per project</p>
            </div>
            
            <div class="col-md text-center py-3">
            <h1 class="gastromond">**random block image**</h1>
                <p class="my-0">most frequently used block</p>
            </div>
        </div>
        
        
        <div class="md">
            <p>Inspired by the ideas of John Dewey, we also believe that there is no learning without reflection, especially when it comes to understanding our own creative processes. Not only did we create many Scratch projects, we also wrote a lot about our own work, as well as the work of others:</p>
        </div>
        
        <div class="row code-gray">
            <div class="col-md text-center py-3">
                <h1 class="gastromond">194,988</h1>
                <p class="my-0">words written in Notes/Credits</p>
            </div>

            <div class="col-md text-center py-3">
                <h1 class="gastromond">14,000</h1>
                <p class="my-0">comments</p>
            </div>
            
</div>

<div class="row">
    <div class="col-12">
        <div class="md">
            <p>The creative process can also take ask learners to spend a lot of time investing in their projects. Even though a Getting Unstuck project can be done in under half an hour, many of us spent far more time on our projects—a sign that we were excited about our work: </p>
        </div>
    </div>
</div>
        
<div class="row code-gray">
    <div class="col-md text-center py-3">
        <h1 class="gastromond">200000</h1>
        <p class="my-0">total minutes spent on projects</p>
            </div>

    <div class="col-md text-center py-3">
        <h1 class="gastromond">45</h1>
        <p class="my-0">average minutes per project</p>
    </div>
    
</div>

<div class="row">
    <div class="col-12">
        <div align="center">
        <br>
        <img src="/static/img/temp/emotions.png" width="500">
        </div>
        
        <div class="md">
            <p>Hard fun can be a complicated emotional journey! Our top emotion was:</p>
        </div>
        
        <div align="center">
        <img src="/static/img/temp/rollercoaster.png" width="300">
        </div>
        
        
    </div>
</div>
        


<div class="row">
    <div class="col-12">
        <div class="md">
            <p>Thank you so much for participating in Getting Unstuck! We'd love to hear from you about your experience of Getting Unstuck. Please fill out our exit survey here. </p>
        </div>
    
    </div>

</div>

        

{% endblock %}