{% extends "layout.html" %}

{% block main_content %}

<!-- this is the landing page, not index.html -->

<div class="row splash">
    <div class="col-md-6">
        <h1 class="gastromond big mt-4">Getting Unstuck</h1>

        <p>Computer code is an incredibly powerful language, which we can use for self-expression and problem solving. As with any language, the more we use it, the greater our fluency with it becomes. And as students pursue their creative dreams with code, there will likely be moments when they get stuck.</p>

        <p>Getting Unstuck is a curriculum designed for 4th, 5th, and 6th grade classrooms to explore creating projects with the Scratch programming language. We hope that the Getting Unstuck curriculum will support you and your students in navigating these moments and creating projects that are personally and socially meaningful.</p>

    </div>
    <div class="col-md-6 vert-center">
      <div class="video-container embed-responsive embed-responsive-16by9">
      <iframe width="420" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/kPauR6tP_cg" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <br>
        <div class="text-center">
            <a class="button" href="/curriculum" id="curriculum">Explore the curriculum</a>
        </div>
    </div>
</div>

{% endblock %}
