{% extends "layout.html" %}

{% block main_content %}

<!-- this is the landing page, not index.html -->

<div class="row splash">
    <div class="col-md-6">
            <br>
            <h1 class="gastromond big">Getting Unstuck</h1>

            <p><strong>JULY 6-17, 2020</strong></p>
            <p><em>10 days. 10 Scratch projects. What will you make?</em></p>
    
            <p>Dear friends,</p>
            <p> Supporting creative work in the classroom can be challenging, and we want to help! We're excited to offer Getting Unstuck, a summer learning experience for teachers who want to learn more about supporting creative work with the Scratch programming language.</p>
    
            <p>Every day, you'll get an email with a small, creative programming prompt, designed to help you explore different computational concepts and debugging strategies in Scratch. 
                You'll have access to a supportive <a href="https://www.facebook.com/groups/GettingUnstuckCommunity/" target=”_blank” class="text-black">online community</a> of teachers and facilitators. Whether you're brand new to Scratch or an experienced teacher, we'll be right beside you, making things and learning together.</p>
    
            <p>Yours in creative computing,
                <br/>Paulina and Karen</p>
    </div>
    <div class="col-md-6 vert-center">
        <img src="{{ url_for('static', filename='img/SIGCSE_Bugs.png') }}" class="w-100 mt-5">
        <div class="text-center">
            <a class="button" href="/signup" id="signup">Sign up for Getting Unstuck!</a>
        </div>

    </div>
</div>

{% endblock %}
