{% extends "layout.html" %}
{% block title %}Welcome &minus; {% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-12">
        <h1>What did you make?</h1>
        <h1>What did you learn?</h1>
        <p>
            Thank you for participating in Getting Unstuck! To explore some of what you made and learned, enter your username here.
        </p>

        <form action="/redirect" method="GET">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Scratch username">
                    <small id="usernameHelp" class="form-text text-muted">
                        Not sure? This should appear in the top right of your screen
                        when you go to <a href="https://scratch.mit.edu">scratch.mit.edu</a>
                        and are logged in. It&rsquo;s also the information you use
                        to log into Scratch.
                    </small>
                </div>
            </div>
                <button type="submit" class="input-group-btn inline btn btn-primary button round-btn">SUBMIT</button>
        </form>
    </div>
</div>

{% endblock %}