{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-12">
        <h1>What did you make?</h1>
        <h1>What did you learn?</h1>
        <p>
            Did you include your projects in the studios for at least one day?
            If so, see your progress by typing in your Scratch username below.
        </p>

        <form action="/redirect" method="GET">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">Scratch username</label>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Scratch username">
                    <small id="usernameHelp" class="form-text text-muted">
                        Not sure? This should appear in the top right of your screen
                        when you go to <a href="https://scratch.mit.edu">scratch.mit.edu</a>
                        and are logged in. It&rsquo;s also the information you user
                        to log into Scratch.
                    </small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">See progress!</button>
        </form>
    </div>
</div>

{% endblock %}