{% extends "layout.html" %}
{% block title %}{{ project["title"] }} &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <h1>
            {{ project["title"] }}
        </h1>
        <h5>
            by <a href="/user/{{ project['author'] }}">{{ project["author"] }}</a> &diams;
            part of <a href="/studio/{{ studio['studio_id'] }}">{{ studio["title"] }}</a>
        </h5>
        <p>
            <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}" target="_blank">View project on Scratch</a>
        </p>
        {% if "stats" in studio and "max" in studio["stats"]: %}
        <h5>Some quick stats about how your project compares within this studio:</h5>

        <p class="block">The Day 7 Prompt was: </p>
        <p class="block" style="text-align:center">Create a project where sprites jump.</p>

        <p class="block">There are many ways to create a project that addresses this prompt. Nearly all projects will incorporate the use of 
            motion blocks, such as:</p>
        
        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <code class="motion1 nobreak">
                        change y by (10)
                    </code>
                </div>
                <div class="col-sm">
                    <code class="motion2 nobreak">
                        go to ( random position v)
                    </code>
                </div>
                <div class="col-sm">
                    <code class="motion3 nobreak">
                        set y to (10)
                    </code>
                </div>
            </div>
        </div>

        <p class="block" style="text-align: center"> In your project, you used 
            {% if project["stats"]["categories"]["motion"] > 1 %}
                multiple motion blocks! Nice!        
            {% elif project["stats"]["categories"]["motion"] == 1 %}
                one motion block. 
            {% else %}
                zero motion blocks. 
            {% endif %}
        </p>
        {% if results["categories"]["motion"] >= 1 %}

            <p class="block">For example, you programmed the sprite <span class="sprite-color"> {{ sprite["name"] }} </span>to do the following:</p>
        

        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}/editor"><code class="project">        
                        {{ text }}
                    </code></a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}/editor"><img src= "{{ sprite['costume_asset_url'] }}" class="sprite"></img></a>
                </div>
            </div>
        </div> 
        {% elif results["categories"]["motion"] == 0 %}
        <p class="block">In this project, we were looking for the use of motion blocks that created a jumping effect, such as the examples shown above. However, it's possible that you 
            were able to think of a creative solution to today's prompt. We encourage you to take a look at other's projects for inspiration!
        </p>
        {% endif %}

        {%  for number in range(3) %}
        <br><p class="block" style="text-align: center">Check out how <a href="https://scratch.mit.edu/users/{{ comparisons[number]['username'] }}/">@{{ comparisons[number]["username"] }}</a> used conditionals for this project 
          with the sprite <span class="sprite-color"> {{ comparisons[number]["sprite"]["name"] }}</span>!</p><br><br>
          <div class="container" style="margin-left: 100px; margin-right: 100px">
              <div class="row">
                  <div class="col-4 d-flex justify-content-center">
                      <a href="https://scratch.mit.edu/projects/{{ comparisons[number]['pid'] }}/editor"><code class="comparison">
                          {{ comparisons[number]["text"] }}
                      </code></a>
                  </div>
                  <div class="col-4 d-flex justify-content-center">
                      <a href="https://scratch.mit.edu/projects/{{ comparisons[number]['pid'] }}/editor"><img src= "{{ comparisons[number]['sprite']['costume_asset_url'] }}" class="sprite"></img></a>
                  </div>
              </div>
          </div>
          <br><p class="block"style="text-align: center">Did you like the way <a href="https://scratch.mit.edu/users/{{ comparisons[number]['username'] }}/">@{{ comparisons[number]["username"] }} </a> used conditionals in their project? 
              Leave them a <a href="https://scratch.mit.edu/projects/{{ comparisons[number]['pid'] }}">comment here</a> to tell them what you think! </p>
  
          <p style="font-weight:600; text-align:center">----------------------------</p>
        {% endfor %}
        <p class="block">Motion blocks used: </p>
        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <h1>{{ project["stats"]["categories"]["motion"] }}</h1>
                </div>
                <div class="col-sm">
                    <h1>{{ studio["stats"]["mean"]["block_categories"]["motion"]|twodec }}</h1>
                </div>
                <div class="col-sm">
                    <h1>{{ studio["stats"]["max"]["block_categories"]["motion"] }}</h1>
                </div>
                <div class="col-sm">
                    <h1>{{ studio["stats"]["min"]["block_categories"]["motion"] }}</h1>
                </div>
            </div>
        </div>

        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <p>In your project</p>
                </div>
                <div class="col-sm">
                    <p>In others' projects <br>(on average)</p>
                </div>
                <div class="col-sm">
                    <p>In the project with <br> the largest number</p>
                </div>
                <div class="col-sm">
                    <p>In the project with <br> the fewest number</p>
                </div>
            </div>
        </div>

        <p class="block" style="text-align: center">Great job today! How might you apply what you learned today for tomorrow?</p>
        
        {% else %}
        <p>Once we can compare your project to the studio it&rsquo;s in, we&rsquo;ll give you some feedback!</p>
        {% endif %}
    </div>
</div>


<script src="https://scratchblocks.github.io/js/scratchblocks-v3.4-min.js"></script>
    <script>
        scratchblocks.renderMatching('code.project', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching('code.comparison', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.motion1", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.motion2", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.motion3", {inline: false, style:"scratch3"});
    </script>

{% endblock %}