<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}{{ SITE["title"] }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/strategies.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- For facebook and twitter logos -->
        <link rel="stylesheet" href="https://use.typekit.net/lwk5jup.css">

        <!-- Favicon-->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

        {% block head %}
        {% endblock %}
    </head>
    {% if section == "home" %}
    <body class="gu-blue-bg">
    {% else %}
    <body>
    {% endif %}
        
        <nav class="navbar navbar-expand-lg navbar-dark gu-blue-bg">
            <div class="container-fluid">
                <a href="/" class="navbar-left navbar-brand">
                    <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="{{ SITE["title"] }}">
                </a>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="/prompts">PROMPTS</a>
                        <a class="nav-item nav-link" href="/strategies">STRATEGIES</a>
                        <a class="nav-item nav-link" href="/about">ABOUT</a>
                        <a class="nav-item nav-link text-nowrap" href="/signup">SIGN UP</a>
                    </div>
                </div>
            </div>
        </nav>
        {% if user: %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-left">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link nav-color" href="#" id="user_greeting" data-identifier="{{ user['username'] }}">
                            Hi, {{ user["first_name"] }}.
                        </a>
                        <a class="nav-item nav-link nav-color" href="#">&diams;</a>
                        <a class="nav-item nav-link nav-color" href="/account">Account</a>
                        <a class="nav-item nav-link nav-color" href="#">&diams;</a>

                        {% if user["role"] == "site_admin": %}
                        <a class="nav-item nav-link nav-color" href="/admin">Manage:</a>
                        {% for page in valid_admin_pages: %}
                        <a class="nav-item nav-link nav-color" href="/admin/{{ page }}">{{ page|capitalize }}</a>
                        
                        {% endfor %}
                        {% endif %}

                        <a class="nav-item nav-link nav-color" href="#">&diams;</a>
                        <a class="nav-item nav-link nav-color" href="/studio">Download a studio</a>
                        <a class="nav-item nav-link nav-color" href="#">&diams;</a>

                        <a class="nav-item nav-link nav-color" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        {% endif %}
        <div class="container mt-4">
            {% if message: %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-primary" role="alert" id="message">
                        {{ message|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% block main_content %}
            {% endblock %}
        </div>

        {% block end_file %}
        {% endblock %}


        <footer class="footer mt-5">
            Getting Unstuck is a project of the
            <a href="https://creativecomputing.gse.harvard.edu/" target="_blank">Creative Computing Lab</a>
            at the Harvard Graduate School of Education &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.facebook.com/groups/GettingUnstuckCommunity" target="_blank" class="fa fa-facebook-f"></a>
            &nbsp;&nbsp;<a href="https://twitter.com/scratchedteam?lang=en" target="_blank" class="fa fa-twitter"></a>
        </footer>

    </body>
</html>