<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}Getting Unstuck</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-left navbar-brand">
                    <img class="logo" src="{{ url_for('static', filename='img/getting-unstuck-logo.png') }}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="/prompts">Prompts</a>
                        <a class="nav-item nav-link" href="/summary">Summary</a>
                        <a class="nav-item nav-link" href="/strategies">Strategies</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                    </div>
                </div>
            </div>
        </nav>
        {% if user: %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-left">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#" id="user_greeting" data-identifier="{{ user['username'] }}">
                            Hi, {{ user["first_name"] }}.
                        </a>
                        <a class="nav-item nav-link" href="#">&diams;</a>
                        <a class="nav-item nav-link" href="/account">Account</a>
                        <a class="nav-item nav-link" href="#">&diams;</a>

                        {% if user["role"] == "site_admin": %}
                        <a class="nav-item nav-link" href="/admin">Manage:</a>
                        {% for page in valid_admin_pages: %}
                        <a class="nav-item nav-link" href="/admin/{{ page }}">{{ page|capitalize }}</a>
                        
                        {% endfor %}
                        {% endif %}

                        <a class="nav-item nav-link" href="#">&diams;</a>
                        <a class="nav-item nav-link" href="/studio">Download a studio</a>
                        <a class="nav-item nav-link" href="#">&diams;</a>

                        <a class="nav-item nav-link" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        {% endif %}
        <div class="container mt-3">
            {% if message: %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-primary" role="alert">
                        {{ message|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% block main_content %}
            {% endblock %}
        </div>

        {% block end_file %}
        {% endblock %}
    </body>
</html>