{% extends "layout.html" %}

{% block title %}Site setup &minus; {% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-12">
        <div class="page-title">
            <h4>Login</h4>
        </div>
        <p></p>
        <p>Both fields are required.</p>
        <form action="/login" method="POST">
            <div class="form-row">
                <div class="col-6">
                    <label for="username">Username or email</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                </div>
            </div>
            <div class="form-row mt-1">
                <div class="col-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3 button round-btn">Log in</button>
        </form>
    </div>
</div>

{% endblock %}