{% extends "layout.html" %}
{% block title %}{{ project["title"] }} &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <!-- Some meta about the project -->
        <h2>
            {{ studio["title"] }}
        </h2>
        <h3 class="mt-3">
            <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}" target="_blank">{{ project["title"] }}</a>
            by <a href="/user/{{ project['author'] }}">{{ project["author"] }}</a>
        </h3>

        {% if studio["status"] == "complete": %}
       
        <!-- Introduction and explanation -->
        <h5>You made a project for {{ prompt["title"] }}! The prompt was:</h5>
        <p>{{ prompt["description"] }}</p>

        <p>{{ schema["explanation"]|safe }}</p>

        <!-- Required blocks focus, if needed -->
        {% if schema["required_blocks"]|length > 0: %}
            <p>We could think of {{ schema["required_blocks"]|length }} way{{ schema["required_blocks"]|pluralize }}
            to complete this prompt.</p>

            {% if True in project["validation"]["required_blocks"]: %}
                {% set rbo = project["validation"]["required_blocks"]|indexOf(True) %}
                <p>You used option {{ (rbo + 1) }}, which called for:</p>
                <ul>
                {% for req in schema["required_blocks"][rbo]: %}
                    <li>
                    {{ schema["required_blocks"][rbo][req] }}
                    {{ req|human_block }}
                    block{{ schema["required_blocks"][rbo][req]|pluralize }}
                    </li>
                {% endfor %}
                </ul>
            {% elif schema["required_blocks_failure"] != "": %}
                <p>{{ schema["required_blocks_failure"] }}</p>
            {% endif %}
        {% endif %}

        <p class="block" style="text-align: center">{{ schema["reflection_text"] }}</p>
        
        {% else %}
        <p>Once we can compare your project to the studio it&rsquo;s in, we&rsquo;ll give you some feedback!</p>
        {% endif %}
    </div>
</div>

<script src="https://scratchblocks.github.io/js/scratchblocks-v3.4-min.js"></script>
    <script>
        scratchblocks.renderMatching('code.project', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching('code.comparison', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional1", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional2", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional3", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional4", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.sb", {inline: true, style: "scratch3"});
    </script>
{% endblock %}