{% extends "layout.html" %}
{% block title %}{{ project["title"] }} &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <h1>
            {{ project["title"] }}
        </h1>
        <h5>
            by <a href="/user/{{ project['author'] }}">{{ project["author"] }}</a> &diams;
            part of <a href="/studio/{{ studio['studio_id'] }}">{{ studio["title"] }}</a>
        </h5>
        <p>
            <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}">View project on Scratch</a>
        </p>

        <h5>Some quick stats about how your project compares within this studio:</h5>

        <p class="block">The Day 15 Prompt was: </p>
        <p class="block" style="text-align:center">Create a project that when multiple conditions have been satisfied, a secret is revealed.</p>

        <p class="block">There are many ways to create a project that addresses this prompt. Nearly all projects will incorporate the use of 
            conditional Control blocks, which can be used when a conditions has been met:</p>
        
        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <code class="conditional1 nobreak">
                        if <> then
                        end
                    </code>
                </div>
                <div class="col-sm">
                    <code class="conditional2 nobreak">
                        if <> then
                        else
                        end
                    </code>
                </div>
                <div class="col-sm">
                    <code class="conditional3 nobreak">
                        repeat until <>
                        end
                    </code>
                </div>
                <div class="col-sm">
                    <code class="conditional4 nobreak">
                        wait until <>
                    </code>
                </div>
            </div>
        </div>

        <p class="block" style="text-align: center"> In your project, you used 
            {% if project["stats"]["categories"]["control"] > 1 %}
                multiple control blocks! Nice!        
            {% elif project["stats"]["categories"]["control"] == 1 %}
                one control block. 
            {% else %}
                zero control blocks. 
            {% endif %}
        </p>
        {% if results["categories"]["control"] >= 1 %}
            <p class="block">For example, you programmed the sprite {{ sprite["name"] }} to do the following:</p>
        {% endif %}

        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <img src= "{{ sprite['costume_asset_url'] }}" class="sprite"></img>
                </div>
                <div class="col-sm">
                    <code class="surround">        
                        {{ text }}
                    </code>
                </div>
            </div>
        </div> 
        <p class="block" style="text-align: center">Check out how someone else used conditionals for this project!</p>
        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <img src= "{{ comp_sprite['costume_asset_url'] }}" class="sprite"></img>
                </div>
                <div class="col-sm">
                    <code class="comparison">
                        {{ comp_text }}
                    </code>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Block category</th>
                    <th>Your project</th>
                    <th>Mean</th>
                    <th>Minimum</th>
                    <th>Maximum</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in project["stats"]["categories"] %}
                <tr>
                    <td>{{ cat }}</td>
                    <td>{{ project["stats"]["categories"][cat] }}</td>
                    <td>{{ studio["stats"]["mean"]["block_categories"][cat]|twodec }}</td>
                    <td>{{ studio["stats"]["min"]["block_categories"][cat] }}</td>
                    <td>{{ studio["stats"]["max"]["block_categories"][cat] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>

<script src="https://scratchblocks.github.io/js/scratchblocks-v3.4-min.js"></script>
    <script>
        scratchblocks.renderMatching('code.surround', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching('code.comparison', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional1", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional2", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional3", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional4", {inline: false, style:"scratch3"});
    </script>
{% endblock %}