{% extends "layout.html" %}
{% block title %}{{ project["title"] }} &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <h4 class="gastromond text-center mt-4">
            {{ prompt["title"] }}
        </h4>
        
        <h5 class="text-center my-4">
            <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}" target="_blank">
                {{ project["title"] }}
            </a>
            by
            <a href="https://scratch.mit.edu/users/{{ project['author'] }}">
                @{{ project["author"] }}
            </a>
        </h5>

        {% if studio["status"] == "complete": %}
        
        <!-- Introduction and explanation -->
        <div class="md">
        {{ schema["text"]["prompt_framing_text"]|safe }}
        </div>

        <blockquote class="blockquote m-3">{{ prompt["description"] }}</blockquote>

        <div class="md">
        {{ schema["text"]["explanation"]|safe }}
        </div>
        
       
        <!-- Block category focus -->
        {% if schema["comparison_basis"]["basis"] == "required_block_categories": %}
            {% if project["validation"]["required_block_categories"][schema["comparison_basis"]["priority"]]: %}
            <p class="text-center">
                Here&rsquo;s an example of how you used
                <strong>{{ schema["comparison_basis"]["priority"] }}</strong>
                blocks in
                <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}" target="_blank">your project</a>:
            </p>
            {% endif %}
        
        <!-- Required text focus -->
        {% elif schema["comparison_basis"]["basis"] == "required_text": %}
            {% if project["validation"]["required_text"][schema["comparison_basis"]["priority"]] > -1: %}

            {% set feature = project["validation"]["required_text"][schema["comparison_basis"]["priority"]] %}
            <p class="text-center">
                Here&rsquo;s an example of how you used the text
                <strong>&ldquo;{{ schema["required_text"][schema["comparison_basis"]["priority"]][feature] }}&rdquo;</strong>
                in
                <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}" target="_blank">your project</a>:
            </p>

            {% elif schema["required_text_failure"] != "": %}
                <p class="text-center">{{ schema["required_blocks_failure"] }}</p>
            {% endif %}

        <!-- Required blocks focus -->
        {% elif schema["comparison_basis"]["basis"] == "required_blocks": %}
            {% if True in project["validation"]["required_blocks"]: %}
                {% set rbo = project["validation"]["required_blocks"]|indexOf(True) %}

                {% set focus_block = schema["comparison_basis"]["priority"][rbo] %}
                <p class="text-center">
                    Here&rsquo;s an example of how you used the
                    <strong>{{ focus_block|human_block }}</strong>
                    block in
                    <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}" target="_blank">your project</a>:
                </p>

            {% elif schema["required_blocks_failure"] != "": %}
                <p class="text-center">{{ schema["required_blocks_failure"] }}</p>
            {% endif %}

        {% endif %}
    </div>
</div>
<div class="row m-5 justify-content-center">
    <!-- User's code excerpt -->
    {% if excerpts[project["project_id"]] != "": %}
    <div class="col-6 code-gray">
        <div class="pt-3">
            <code class="_sb">{{ excerpts[project["project_id"]]["code"] }}</code>
        </div>
    </div>
    <div class="col-3">
        <div class="sprite-container">
            <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}/editor">
                <img src="{{ excerpts[project["project_id"]]["sprite"]["costume_asset_url"] }}" class="sprite p-3">
            </a>
            <p class="w-100 text-center">
                <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}/editor">
                    {{ excerpts[project["project_id"]]["sprite"]["name"] }}
                </a>
            </p>
        </div>
    </div>

    {% else: %}
        <p>We couldn&rsquo;t find an example in your code!</p>
    {% endif %}
</div>
<div class="row">
    <div class="col-12">
        <!-- Project comparison excerpts -->
        <div class="md">
        {{ schema["text"]["comparison_framing_text"]|safe }}
        </div>

        <!-- Cool CSS-based tabs -->
        <div class="tabs mb-5">
            {% for excerpt in excerpts: %}
            {% if excerpt != project["project_id"]: %}
            <input name="tabs" type="radio" id="tab-{{ loop.index0 }}" {% if loop.index0 == 0: %}checked{% endif %} class="input">
            <label for="tab-{{ loop.index0 }}" class="label col">@{{ excerpts[excerpt]["author"] }}&rsquo;s Project</label>
            <div class="panel w-100">
                <div class="container">
                    <div class="row my-5 justify-content-center">
                        <div class="col-6 code-gray">
                            <div class="pt-3">
                                <code class="_sb">{{ excerpts[excerpt]["code"] }}</code>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="sprite-container">
                                <a href="https://scratch.mit.edu/projects/{{ excerpt }}/editor">
                                    <img src="{{ excerpts[excerpt]["sprite"]["costume_asset_url"] }}" class="sprite p-3">
                                </a>
                                <p class="w-100 text-center">
                                    <a href="https://scratch.mit.edu/projects/{{ excerpt }}/editor">
                                        {{ excerpts[excerpt]["sprite"]["name"] }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="https://scratch.mit.edu/projects/{{ excerpt }}/editor" target="_blank">
                                View @{{ excerpts[excerpt]["author"] }}&rsquo;s project in Scratch!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <p class="mt-5">&nbsp;</p>

        <div class="md">
        <!-- Reflect on the projects shown -->
        {{ schema["text"]["comparison_reflection_text"]|safe }}

        <!-- Conclude today's review -->
        {{ schema["text"]["concluding_text"]|safe }}
        </div>

        <p class="m-5">&nbsp;</p>

        <!-- What to say if scraping not done -->
        {% else %}
        <p>Once we can compare your project to the studio it&rsquo;s in, we&rsquo;ll give you some feedback!</p>
        {% endif %}
    </div>
</div>

<script src="/static/js/sb.js"></script>
{% endblock %}