{% extends "layout.html" %}
{% block title %}{{ project["title"] }} &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <div class="page-title">
            <br><br>
            <h4>
                {{ studio["title"] }}
            </h4>
        </div><br>
        <h5>
            <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}" target="_blank">{{ project["title"] }}</a> by <a href="https://scratch.mit.edu/users/{{ project['author'] }}">@{{ project["author"] }}</a>
        </h5>

        {% if "stats" in studio and "max" in studio["stats"]: %}
        <h5>On Day 2, we explored conditionals. Our prompt was: </h5><br>
        <p>Create a project that when multiple conditions have been satisfied, a secret is revealed.</p><br>

        <p>There are many ways to create a project that addresses this prompt. Nearly all projects will incorporate the use of 
            conditional Control blocks, which can be used when a conditions has been met:</p>
        
        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <code class="conditional1 nobreak">
                        if <> then
                        end
                    </code>
                </div>
                <div class="col-sm">
                    <code class="conditional2 nobreak">
                        if <> then
                        else
                        end
                    </code>
                </div>
                <div class="col-sm">
                    <code class="conditional3 nobreak">
                        repeat until <>
                        end
                    </code>
                </div>
                <div class="col-sm">
                    <code class="conditional4 nobreak">
                        wait until <>
                    </code>
                </div>
            </div>
        </div>
        <p class="block" style="text-align: center">  
        {% if project["stats"]["categories"]["control"] >= 1 %}
                Here's an example of how you used control blocks in <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}" target="_blank">your own project</a>:
        {% endif %}
        </p><br>
        {% if results["categories"]["control"] >= 1 %}
        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-4 d-flex justify-content-center code-gray">
                    <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}/editor"><code class="project">        
                        {{ text }}
                    </code></a>
                </div>
                <div class="col-4 d-flex justify-content-center img-with-txt m-auto">
                    <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}/editor">
                        <img src="{{ sprite['costume_asset_url'] }}" class="sprite">
                        <p class="img-txt"> {{ sprite["name"] }} </p>
                    </a>
                </div>
            </div>
        </div> 
        {% elif results["categories"]["control"] == 0 %}
        <p class="block">In this project, we were looking for the use of conditional blocks, such as the examples shown above. However, it's possible that you 
            were able to think of a creative solution to today's prompt. We encourage you to take a look at other's projects for inspiration!
        </p>
        {% endif %}
        <br><br>
        <p class="block" style="text-align:center">Here are examples of what others made in response to today’s prompt:</p>

        
        <br><div class="tabs">
            {% for number in range(5) %}
                <input name="tabs" type="radio" id="tab-{{number + 1}}" checked="checked" class="input"/>
                <label for="tab-{{number + 1}}" class="label">@{{ comparisons[number]["username"] }}'s <br> Project</label>
                <div class="panel">
                        <div class="container" style="margin-left: 100px; margin-right: 100px">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-center code-gray">
                                    <a href="https://scratch.mit.edu/projects/{{ comparisons[number]['pid'] }}/editor"><code class="comparison">
                                        {{ comparisons[number]["text"] }}
                                    </code></a>
                                </div>
                                <div class="col-4 d-flex justify-content-center img-with-txt m-auto">
                                    <a href="https://scratch.mit.edu/projects/{{ comparisons[number]['pid'] }}/editor">
                                        <img src= "{{ comparisons[number]['sprite']['costume_asset_url'] }}" class="sprite">
                                        <p class="img-txt"> {{ comparisons[number]["sprite"]["name"] }} </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="block" style="text-align: center; color:white">-----------------------------------------------------------------------------------------</p>

                </div>
            {% endfor %}
        </div><br><br>

        <p> What is something interesting you saw in someone else's project? How might you incorporate what someone else did into your next project? In your own project, add an idea for tomorrow in the 
            Notes and Credits!
        </p>

        <p>Great job today! How might you apply what you learned today for tomorrow?</p>
        {% else %}
        <p>Once we can compare your project to the studio it&rsquo;s in, we&rsquo;ll give you some feedback!</p>
        {% endif %}
        <br><br><br><br><br>
    </div>
</div>

<script src="https://scratchblocks.github.io/js/scratchblocks-v3.4-min.js"></script>
    <script>
        scratchblocks.renderMatching('code.project', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching('code.comparison', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional1", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional2", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional3", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.conditional4", {inline: false, style:"scratch3"});
    </script>
{% endblock %}