{% extends "layout.html" %}
{% block title %}Prompts &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <h1 class="gastromond big text-center">Prompts</h1>
        <p>
            From July 6–17, 2020, we sent out a playful prompt that invited you to explore an idea,
            create a Scratch project, share that project to a daily studio, and reflect on what you
            had made. You can find the prompts below or
            <a href="https://us18.campaign-archive.com/home/?u=5dd4d8b32f719a30cbde507c6&id=9de5997a0e" target="_blank">
                view the entire email archive
            </a>
            here.
        </p>
        <p class="text-center mt-4 mb-1">
            What did you make? What did you learn?
        </p>
        <div class="mb-4 text-center overflow-hidden">
            <a href="/participation" class="input-group-btn inline btn btn-primary button round-btn font-weight-normal">
                See what you made
            </a>
        </div>

        <table class="table table-bordered">
            {% for challenge in challenges: %}
                {% if challenge != None: %}
                <tr>
                    <td class="p-2" style="width: 15%">
                        <h1 class="gastromond big text-center">
                        {% if "short_label" in schemas[challenge["challenge_id"]]: %}
                            {{ schemas[challenge["challenge_id"]]["short_label"] }}
                        {% else: %}
                            {{ loop.index }}
                        {% endif %}
                        </h1>
                    </td>
                    <td style="padding-bottom: 8px" style="width: 85%">
                        {% if "description" in schemas[challenge["challenge_id"]]: %}
                        <p>{{ schemas[challenge["challenge_id"]]["description"] }}</p>
                        {% else: %}
                        <p>{{ challenge["description"] }}</p>
                        {% endif %}

                        <div>
                            {% if "url" in schemas[challenge["challenge_id"]]: %}
                            <a href="{{ schemas[challenge['challenge_id']]['url']['url'] }}" target="_blank">{{ schemas[challenge['challenge_id']]['url']['text'] }}</a> &nbsp;&nbsp; || &nbsp;&nbsp;
                            {% endif %}
                            <a href="/studio/{{ challenge['studio_id'] }}">Explore what we made</a>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}
