{% extends "layout.html" %}
{% block title %}Prompts &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <h1 class="gastromond big text-center">Prompts</h1>
        <p>
            Every day, we send out a playful prompt that invites you to explore an idea, create a Scratch project, share that
            project to a daily studio, and reflect on what you&rsquo;ve made. Check back here or <a href=/signup>sign up for the mailing list</a> to find out 
            about each day&rsquo;s prompt!
        </p>
        <p class="text-center mt-4 mb-1">
            What did you make? What did you learn?
        </p>
        <div class="mb-4 text-center overflow-hidden">
            <a href="/participation" class="input-group-btn inline btn btn-primary button round-btn font-weight-normal">
                See what you made
            </a>
        </div>

        <table class="table table-bordered">
            {% for challenge in challenges: %}
                {% if challenge != None: %}
                <tr>
                    <td class="col-md-2 p-2">
                        <h1 class="gastromond big text-center">
                        {% if "short_label" in schemas[challenge["challenge_id"]]: %}
                            {{ schemas[challenge["challenge_id"]]["short_label"] }}
                        {% else: %}
                            {{ loop.index }}
                        {% endif %}
                        </h1>
                    </td>
                    <td style="padding-bottom: 8px" class="col-md-10">
                        {% if "description" in schemas[challenge["challenge_id"]]: %}
                        <p>{{ schemas[challenge["challenge_id"]]["description"] }}</p>
                        {% else: %}
                        <p>{{ challenge["description"] }}</p>
                        {% endif %}

                        <div class="container">
                            <div class="row table-link">
                                {% if "url" in schemas[challenge["challenge_id"]]: %}
                                <a href="{{ schemas[challenge['challenge_id']]['url']['url']|urlencode }}">{{ schemas[challenge['challenge_id']]['url']['text'] }}</a> &nbsp;&nbsp; || &nbsp;&nbsp;
                                {% else: %}
                                &nbsp;
                                {% endif %}
                                <a href="/studio/{{ challenge['studio_id'] }}">Explore what you made</a>
                                &nbsp;&nbsp; || &nbsp;&nbsp;
                                <a href="https://scratch.mit.edu/studios/{{ challenge['studio_id'] }}" target="_blank">Explore the Scratch studio</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}
