{% extends "layout.html" %}
{% block title %}Strategies &minus; {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/strategies.css') }}">
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-12">
        <h4 class="text-center gastromond big">Strategies</h4>
        <p>If you're feeling stuck on a problem, try out one of these strategies! Hover over each image for more detail. Reload the page to randomize strategies.</p>
    </div>
</div>
<div class="row row-card">
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_1.png" class="card-image" alt="a stack at a time">
        <div class="card-details fadeIn-bottom">
            <h3>a stack at a time</h3>
            <p>Click on a stack to run only that part of your project. Does it work? Click on another stack.</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_6.png" class="card-image" alt="project talk">
        <div class="card-details fadeIn-bottom">
            <h3>project talk</h3>
            <p>Make your project talk to you! Add extra "say" blocks in-between the blocks you're testing, to see if all of your blocks are being run in your project.</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_7.png" class="card-image" alt="try something else">
        <div class="card-details fadeIn-bottom">
            <h3>try something else</h3>
            <p>There are many ways to do the same thing in Scratch. What's another way you might try?</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_8.png" class="card-image" alt="problem? opportunity!">
        <div class="card-details fadeIn-bottom">
            <h3>problem? opportunity!</h3>
            <p>Can't get past a problem? Can you reframe the problem so that it becomes an advantage or opportunity?</p>
        </div>
    </div></div>
</div>
<div class="row row-card">
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_9.png" class="card-image" alt="draw a diagram">
        <div class="card-details fadeIn-bottom">
            <h3>draw a diagram</h3>
            <p>Draw a map or a flowchart of how you envision your project working. What happens when you click the green flag?</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_32.png" class="card-image" alt="be inspired by others">
        <div class="card-details fadeIn-bottom">
            <h3>be inspired by others</h3>
            <p>Find a project you find exciting and click "see inside." What do you notice? What can you learn from it?</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_34.png" class="card-image" alt="answer someone's question">
        <div class="card-details fadeIn-bottom">
            <h3>answer someone's question</h3>
            <p>Go to the "Help with Scripts" forum and try to answer at least one question. You know more than you think.</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_11.png" class="card-image" alt="break it down">
        <div class="card-details fadeIn-bottom">
            <h3>break it down!</h3>
            <p>Sometimes we get stuck because the problem seems overwhelming. Write down three things that make up the problem.</p>
        </div>
    </div></div>
</div>
<div class="row row-card">
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_15.png" class="card-image" alt="search online">
        <div class="card-details fadeIn-bottom">
            <h3>search online</h3>
            <p>See if someone else has an answer! Try Googling [block name] + [thing you want it to do].</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_13.png" class="card-image" alt="help a friend">
        <div class="card-details fadeIn-bottom">
            <h3>help a friend</h3>
            <p>Ask friends if they need any help with their projects. Even if you're a beginner, everyone has something to contribute.</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_14.png" class="card-image" alt="remix a project">
        <div class="card-details fadeIn-bottom">
            <h3>remix a project</h3>
            <p>Find a project you find inspiring and click "Remix." Try making some changes to the project!</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_16.png" class="card-image" alt="just keep going">
        <div class="card-details fadeIn-bottom">
            <h3>just keep going!</h3>
            <p>Try lots of things! Try three other strategies! Switch out some blocks! You've got this.</p>
        </div>
    </div></div>
</div>
<div class="row row-card">
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_17.png" class="card-image" alt="post a question online">
        <div class="card-details fadeIn-bottom">
            <h3>post a question online</h3>
            <p>Check out the "Help with Scripts" forum on Scratch and ask your question. Don't forget to link to your project.</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_18.png" class="card-image" alt="make a small goal today">
        <div class="card-details fadeIn-bottom">
            <h3>make a small goal today</h3>
            <p>Pick one thing that you want to accomplish/learn today.</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_19.png" class="card-image" alt="figure out your style">
        <div class="card-details fadeIn-bottom">
            <h3>figure out your style</h3>
            <p>Do you like to make your own blocks? Hide blocks on invisible sprites? Look at some of your projects and try to notice the things you tend to do. Make sure to leave comments in projects for others to read.</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_20.png" class="card-image" alt="talk it through">
        <div class="card-details fadeIn-bottom">
            <h3>talk it through</h3>
            <p>Talk to a friend (or just out loud to yourself) about what you need to get done.</p>
        </div>
    </div></div>
</div>
<div class="row row-card">
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_21.png" class="card-image" alt="work on an old project">
        <div class="card-details fadeIn-bottom">
            <h3>work on an old project</h3>
            <p>Find a project you haven't worked on in awhile and make some changes. What did you do differently then? How would you do that now?</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_12.png" class="card-image" alt="organize your sprites">
        <div class="card-details fadeIn-bottom">
            <h3>organize your sprites</h3>
            <p>Are all of your blocks on the right sprites? Click through all of them to check; don't forget about the background!</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_23.png" class="card-image" alt="compromise">
        <div class="card-details fadeIn-bottom">
            <h3>compromise</h3>
            <p>What is one thing you imagine your project doing? Can you just get part of that done today?</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_24.png" class="card-image" alt="tell a story">
        <div class="card-details fadeIn-bottom">
            <h3>tell a story</h3>
            <p>Write out what your sprites will do. How will a user feel when they interact with your project?</p>
        </div>
    </div></div>
</div>
<div class="row row-card">
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_25.png" class="card-image" alt="check out what's trending">
        <div class="card-details fadeIn-bottom">
            <h3>check out what's trending</h3>
            <p>Take a look at some of the projects trending on the Scratch front page. What do you notice? What are you inspired by?</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_26.png" class="card-image" alt="remix something">
        <div class="card-details fadeIn-bottom">
            <h3>remix something</h3>
            <p>Use the backpack feature to look at other projects and find sprites or code blocks to incorporate into your remix. Don't forget to give credit.</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_27.png" class="card-image" alt="find a tutorial">
        <div class="card-details fadeIn-bottom">
            <h3>find a tutorial</h3>
            <p>Other Scratchers have made lots of different tutorials. Try searching the Scratch site to find a tutorial, such as "platformer game tutorial" or "video sensing tutorial".</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_28.png" class="card-image" alt="take a break">
        <div class="card-details fadeIn-bottom">
            <h3>take a break</h3>
            <p>Go for a walk. Read a book. Eat something. Then try again.</p>
        </div>
    </div></div>
</div>
<div class="row row-card">
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_29.png" class="card-image" alt="use the tips window">
        <div class="card-details fadeIn-bottom">
            <h3>use the tips window</h3>
            <p>Try out one of the tutorials in the tips window (that little question mark in the corner). Did you know that the tips window has more information about each block?</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_30.png" class="card-image" alt="ask a friend">
        <div class="card-details fadeIn-bottom">
            <h3>ask a friend</h3>
            <p>Ask a friend to take a look at your project. Everyone needs help sometimes!</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_31.png" class="card-image" alt="recruit a teammate">
        <div class="card-details fadeIn-bottom">
            <h3>recruit a teammate</h3>
            <p>Ask a friend to join you on your project. What strengths do they have to contribute?</p>
        </div>
    </div></div>
    <div class="col-md-3 card-container"><div class="s">
        <div class="content-overlay"></div>
        <img src="/static/img/strategy/strategyArtboard_10.png" class="card-image" alt="make a checklist">
        <div class="card-details fadeIn-bottom">
            <h3>make a checklist</h3>
            <p>Make a list of everything you want your project to do.</p>
        </div>
    </div></div>
</div>
{% endblock %}

{% block end_file %}
<!-- For strategies randomization -->
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/randomize.js') }}"></script>
{% endblock %}
