{% extends "layout.html" %}
{% block title %}{{ studio["title"] }} &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-8">
        <h4 class="gastromond big">
            {{ studio["title"] }}
        </h4>
        <p>
            <a href="https://scratch.mit.edu/studios/{{ studio['studio_id'] }}" target="_blank">View studio on Scratch</a>
        </p>
        <h5>{{ projects|length }} projects in studio.</h5><br>

        <h6 class="font-weight-bold">Description</h6>
        <p>
            {{ studio["description"] }}
        </p>
   
        {% if studio["status"] == "complete": %}
        <form name="find_project" id="find_project" class="mt-1 mb-1">
            <input type="hidden" name="studio_id" id="studio_id" value="{{ studio['studio_id'] }}">
            <div class="form-row">
                <div class="alert alert-warning hide w-100" id="find_project_alert"></div>
            </div>
                <h4>Find yours:</h4>
                <label for="identifier">Type your Scratch username, Scratch project URL, or Scratch project title.</label>

                    <input type="text" class="form-control" id="identifier" name="identifier" placeholder="My awesome project!">
                    <button type="submit" class="btn btn-primary mt-3 button round-btn">SEARCH</button>
        </form>
        {% endif %}
    </div>
</div>

{% for project in projects: %}

{% if loop.index0 % 4 == 0: %}
<div class="row mt-3">
{% endif %}

<div class="col-md-3 d-flex">
    <div class="card w-100 h-100">
        {% if "image" in project and project["image"] != "": %}
        <img class="card-img-top" src="{{ project['image'] }}" alt="{{ project['title'] }} by @{{ project['author'] }}">
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">{{ project["title"] }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">by @{{ project["author"] }}</h6>
            <a href="/project/{{ project['project_id'] }}" class="card-link">Results</a>
            <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}" target="_blank" class="card-link">On Scratch</a>
        </div>
    </div>
</div>

{% if loop.index0 % 4 == 3 or loop.index0 == projects|length - 1: %}
</div>
{% endif %}

{% endfor %}

{% endblock %}

{% block end_file %}
<script>
let authors = {{ info["authors"]|safe }};
let project_ids = {{ info["project_ids"]|safe }};
let titles = {{ info["titles"]|safe }};
</script>
<script src="/static/js/common_edit.js"></script>
<script src="/static/js/studio_id.js"></script>
{% endblock %}