{% extends "layout.html" %}

{% block container_setup %}
<div class="container-fluid" style="background: url('/static/img/outall-75.jpg'); background-size: 100%;">
{% endblock %}

{% block main_content %}
<div class="row" id="filled_height"></div>
<div class="row" id="above_the_fold">
    <div class="col-12 gu-blue-bg-80">
        <h1 class="gastromond big mt-3">Getting Unstuck in review</h1>
        <p>
            We&rsquo;ve spent the past two weeks learning about Scratch and computational thinking.
        </p>
        <p>
            Now that we&rsquo;ve done that, let&rsquo;s spend some time reflecting on our work.
        </p>
    </div>
</div>
{% endblock %}

{% block end_file %}

<script>
let loaded_summary = () => {
    let height = window.innerHeight;
    let navheight = document.getElementById("main_nav").offsetHeight;
    let atf = document.getElementById("above_the_fold").offsetHeight;
    console.log(height - navheight)

    document.getElementById("filled_height").style.height = (height - navheight - atf) + "px";
};

if (document.readyState === "complete")
    loaded_summary();
else
    document.addEventListener("DOMContentLoaded", loaded_summary);
</script>

{% endblock %}
