{% extends "layout.html" %}

{% block container_setup %}
<div class="container-fluid">
{% endblock %}

{% block main_content %}
<div class="row" id="above_the_fold" style="margin-bottom: -3rem;">
    <div class="col-md-8 col-lg-7 p-5" id="review_content">
        <h1 class="gastromond big mb-5">10 Days of Getting Unstuck</h1>

        {% for item in data["content"]: %}
        {% if "<div" in item: %}
        {{ item|safe }}
        {% else: %}
        <p>{{ item|safe }}</p>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-4 col-lg-5 px-0">
        <img src="/static/img/outall-75.jpg" alt="projects" class="w-100" style="opacity:.5; transition: .5s" id="img">
    </div>
</div>
{% endblock %}

{% block end_file %}
<script>
let opacity = (e) => {
    e.target.style.opacity = 1
}
let opacity2 = (e) => {
    e.target.style.opacity = .5
}

let img = document.getElementById("img");

img.addEventListener("mouseenter", opacity)
img.addEventListener("mouseleave", opacity2)
</script>
<script src="/static/js/sb.js"></script>

<script>

let get_stat = (identifier, stats) => {
    let parts = identifier.split("/");
    let value = stats;
    console.log(value)
    for (let i = 0; i < parts.length; i++) {
        console.log(parts[i])
        value = value[parts[i]];
    }

    return value;
};

let replace_stats = (stats) => {
    let elements = document.getElementsByClassName("stat");
    for (let i = 0; i < elements.length; i++) {
        elements[i].innerText = get_stat(elements[i].innerText, stats);
    }
};

let data = null;
let get_data = (cb) => {
    if (data === null) {
        handle_ajax("POST", "/summary", {}, (res) => {
            data = JSON.parse(res.responseText);
            replace_stats(data);

            if (cb !== null) {
                cb(data);
            }
        });
    }
    else {
        if (cb !== null) {
            cb(data);
        }

        return data;
    }
};

</script>

<script src="/static/js/d3.min.js"></script>
<script src="/static/js/topojson.v1.min.js"></script>
<script src="/static/js/queue.v1.min.js"></script>
<script src="/static/js/d3-tip.js"></script>
<script src="/static/js/country_map.js"></script>
<script>
    let p = new Promise((resolve, reject) => {
        get_data(resolve);
    }).then((d) => {
        let countries_data = d3.map();
        for (nation in data["nations"]) {
            countries_data.set(nation, data["nations"][nation]);
        }

        country_map(countries_data);


        let projects_data = [];
        for (let i = 0; i < data["project_counts"].length; i++) {
            let a = d3.map();
            a.set("key", "Day " + i);
            a.set("value", data["project_counts"][i]);
            projects_data.push(a);
        }

        bar_graph(projects_data, "project-graph");


        let categories_data = [];
        for (cat in data["totals"]["categories"]) {
            let a = d3.map();
            a.set("key", cat);
            a.set("value", data["totals"]["categories"][cat])
            categories_data.push(a);
        }

        let choose_color = (d) => {
            // From https://github.com/heyjessi/getting-unstuck-visual/blob/master/js/main.js#L166
            if (d.get("key") === "motion"){
                return "#4681db";
            }
            if (d.get("key") === "control") {
                return "#f2ab1d"
            }
            if (d.get("key") === "event") {
                return "#ffcb3f"
            }
            if (d.get("key") === "looks") {
                return "#965ffc"
            }
            if (d.get("key") === "operator") {
                return "#4faa49"
            }
            if (d.get("key") === "sensing") {
                return "#66b2d6"
            }
            if (d.get("key") === "sound") {
                return "#ca70d8"
            }
            if (d.get("key") === "data") {
                return "#ef7b28"
            }
            if (d.get("key") === "procedures") {
                return "#f75976"
            }
        };

        bar_graph(categories_data, "categories-graph", {x: 50, y: 30}, choose_color);
    });
</script>

{% endblock %}
