{% extends "layout.html" %}

{% block title %}10 Days of Getting Unstuck &minus;{% endblock %}

{% block container_setup %}
<div class="container-fluid">
{% endblock %}

{% block main_content %}
<div class="row" id="above_the_fold" style="margin-bottom: -3rem;">
    <div class="col-md-8 col-lg-6 p-5 child_img_full" id="review_content">
        <h1 class="gastromond big mb-5">10 Days of Getting Unstuck</h1>

        {% for item in data["content"]: %}
        {% if "<div" in item: %}
        {{ item|safe }}
        {% else: %}
        <p>{{ item|safe }}</p>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-4 col-lg-6 px-0">
        <img src="/summary/image" alt="A collage of all the projects we've made together." class="w-100" style="opacity:.5; transition: .5s" id="img">
    </div>
</div>
{% endblock %}

{% block end_file %}
<script src="/static/js/d3/d3.min.js"></script>
<script src="/static/js/d3/topojson.v1.min.js"></script>
<script src="/static/js/d3/queue.v1.min.js"></script>
<script src="/static/js/d3/d3-tip.js"></script>
<script src="/static/js/visualization.js"></script>
<script src="/static/js/summary.js"></script>

{% endblock %}
