{% extends "layout.html" %}

{% block main_content %}
<div class="row" id="above_the_fold">
    <div class="col-12 gu-white-bg-90">
        <h1 class="gastromond big mt-3">Getting Unstuck in review</h1>
        <p>
            We&rsquo;ve spent the past two weeks learning about Scratch and computational thinking.
        </p>
        <p>
            Now that we&rsquo;ve done that, let&rsquo;s spend some time reflecting on our work.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    </div>
</div>
{% endblock %}

