{% extends "layout.html" %}
{% block title %}{{ project["title"] }} &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <h1>
            {{ project["title"] }}
        </h1>
        <h5>
            by <a href="/user/{{ project['author'] }}">{{ project["author"] }}</a> &diams;
            part of <a href="/studio/{{ studio['studio_id'] }}">{{ studio["title"] }}</a>
        </h5>
        <p>
            <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}">View project on Scratch</a>
        </p>

        <h5>Some quick stats about how your project compares within this studio:</h5>

        <p class="block">The Day 2 Prompt was: </p>
        <p class="block" style="text-align:center">Create a project where each time the use gets a surprise each time they click on the screen.</p>

        <p class="block">There are many ways to create a project that addresses this prompt. Nearly all projects will incorporate the use of 
            Event or Sensing blocks, which can be used when a conditions has been met:</p>
        
        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <code class="example1 nobreak">
                        mouse down?
                    </code>
                </div>
                <div class="col-sm">
                    <code class="example2 nobreak">
                        when backdrop switches to (backdrop1 v)
                    </code>
                </div>
                <div class="col-sm">
                    <code class="example3 nobreak">
                        when this sprite clicked
                    </code>
                </div>
            </div>
        </div>

        <p class="block" style="text-align: center"> In your project, you used 
            {% if project["stats"]["categories"]["event"] > 1 %}
                multiple events blocks! Nice!        
            {% elif project["stats"]["categories"]["event"] == 1 %}
                one events block. 
            {% else %}
                zero events blocks. 
            {% endif %}
        </p>
        {% if results["categories"]["event"] >= 1 %}
            <p class="block">For example, you programmed the sprite <span class="sprite-color">{{ sprite["name"] }}</span> to do the following:</p>
        {% endif %}

        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}/editor"><img src= "{{ sprite['costume_asset_url'] }}" class="sprite"></img></a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <a href="https://scratch.mit.edu/projects/{{ project['project_id'] }}/editor"><code class="surround">        
                        {{ text }}
                    </code></a>
                </div>
            </div>
        </div> 
       
        

            <div id="carousel_section" class="carousel slide" data-ride="carousel">
                <!--set up indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <!--the three comparison projects-->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <br><br><p class="block" style="text-align: center">Check out how <a href="https://scratch.mit.edu/users/{{ comp_user }}/">@{{ comp_user }}</a> created a surprise for this project!</p><br><br>
                    <div class="container" style="margin-left: 100px; margin-right: 100px">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center">
                                <a href="https://scratch.mit.edu/projects/{{ comp_pid }}/editor"><img src= "{{ comp_sprite['costume_asset_url'] }}" class="sprite"></img></a>
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                <a href="https://scratch.mit.edu/projects/{{ comp_pid }}/editor"><code class="comparison">
                                    {{ comp_text }}
                                </code></a>
                            </div>
                        </div>
                    </div>
                    <br><br><p class="block"style="text-align: center">Did you like the way <a href="https://scratch.mit.edu/users/{{ comp_user }}/">@{{ comp_user }} </a> created their project? 
                        Leave them a <a href="https://scratch.mit.edu/projects/{{ comp_pid }}">comment here</a> to tell them what you think! </p><br><br>
                  </div>
                  <div class="carousel-item">
                    <br><br><p class="block" style="text-align: center">Check out how <a href="https://scratch.mit.edu/users/{{ comp_user }}/">@{{ comp_user }}</a> created a surprise for this project with the sprite <span class="sprite-color">{{ comp_sprite["name"]}}</span>!</p><br><br>
                    <div class="container" style="margin-left: 100px; margin-right: 100px">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center">
                                <a href="https://scratch.mit.edu/projects/{{ comp_pid }}/editor"><img src= "{{ comp_sprite['costume_asset_url'] }}" class="sprite"></img></a>
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                <a href="https://scratch.mit.edu/projects/{{ comp_pid }}/editor"><code class="comparison">
                                    {{ comp_text }}
                                </code></a>
                            </div>
                        </div>
                    </div>
                    <br><br><p class="block"style="text-align: center">Did you like the way <a href="https://scratch.mit.edu/users/{{ comp_user }}/">@{{ comp_user }} </a> created their project? 
                        Leave them a <a href="https://scratch.mit.edu/projects/{{ comp_pid }}">comment here</a> to tell them what you think! </p><br><br>
                  </div>
                  <div class="carousel-item">
                    <br><br><p class="block" style="text-align: center">Check out how <a href="https://scratch.mit.edu/users/{{ comp_user }}/">@{{ comp_user }}</a> created a surprise for this project!</p><br><br>
                    <div class="container" style="margin-left: 100px; margin-right: 100px">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center">
                                <a href="https://scratch.mit.edu/projects/{{ comp_pid }}/editor"><img src= "{{ comp_sprite['costume_asset_url'] }}" class="sprite"></img></a>
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                <a href="https://scratch.mit.edu/projects/{{ comp_pid }}/editor"><code class="comparison">
                                    {{ comp_text }}
                                </code></a>
                            </div>
                        </div>
                    </div>
                    <br><br><p class="block"style="text-align: center">Did you like the way <a href="https://scratch.mit.edu/users/{{ comp_user }}/">@{{ comp_user }} </a> created their project? 
                        Leave them a <a href="https://scratch.mit.edu/projects/{{ comp_pid }}">comment here</a> to tell them what you think! </p><br><br>
            
                  </div>
                </div>
                <!--previous and next button-->
                <a class="carousel-control-prev" href="#carousel_section" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel_section" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        <p class="block">Events blocks used: </p>
        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <h1>{{ project["stats"]["categories"]["event"] }}</h1>
                </div>
                <div class="col-sm">
                    <h1>{{ studio["stats"]["mean"]["block_categories"]["event"]|twodec }}</h1>
                </div>
                <div class="col-sm">
                    <h1>{{ studio["stats"]["max"]["block_categories"]["event"] }}</h1>
                </div>
                <div class="col-sm">
                    <h1>{{ studio["stats"]["min"]["block_categories"]["event"] }}</h1>
                </div>
            </div>
        </div>

        <div class="container" style="margin-left: 100px; margin-right: 100px">
            <div class="row">
                <div class="col-sm">
                    <p>In your project</p>
                </div>
                <div class="col-sm">
                    <p>In others' projects <br>(on average)</p>
                </div>
                <div class="col-sm">
                    <p>In the project with <br> the largest number</p>
                </div>
                <div class="col-sm">
                    <p>In the project with <br> the fewest number</p>
                </div>
            </div>
        </div>

        <p class="block" style="text-align: center">Great job today! How might you apply what you learned today for tomorrow?</p>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Block category</th>
                    <th>Your project</th>
                    <th>Mean</th>
                    <th>Minimum</th>
                    <th>Maximum</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in project["stats"]["categories"] %}
                <tr>
                    <td>{{ cat }}</td>
                    <td>{{ project["stats"]["categories"][cat] }}</td>
                    <td>{{ studio["stats"]["mean"]["block_categories"][cat]|twodec }}</td>
                    <td>{{ studio["stats"]["min"]["block_categories"][cat] }}</td>
                    <td>{{ studio["stats"]["max"]["block_categories"][cat] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
<script src="https://scratchblocks.github.io/js/scratchblocks-v3.4-min.js"></script>
    <script>
        scratchblocks.renderMatching('code.surround', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching('code.comparison', {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.example1", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.example2", {inline: false, style:"scratch3"});
        scratchblocks.renderMatching("code.example3", {inline: false, style:"scratch3"});
    </script>
{% endblock %}