{% extends "layout.html" %}
{% block title %}{{ username }} &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-7">
        <h1 class="text-center gastromond big mt-5">
            {{ username }}'s projects
        </h1>
        <p class="text-center mb-5"><a href="https://scratch.mit.edu/users/{{ username }}" target="_blank">View user on Scratch</a></p>

        {% if projects == []: %}
        <p>
            Oh no! It doesn&rsquo;t look like we were able to find any Getting Unstuck projects for your username. Have you added 
            your projects to each day&rsquo;s studio yet? If so, check back in tomorrow, as we download each day&rsquo;s studio every day. 
            Sorry about that!
        </p>
        <img class="bug centered" src="{{ url_for('static', filename='img/SIGCSE_Bugs.png') }}"> 

        {% else: %}
        <p>Click on the name of your project to explore what you made for each prompt.</p>
        <h5>Getting Unstuck projects:</h5>
        <ul>
            {% for project in projects: %}
            {% if studios[project["studio_id"]]["public_show"]: %}
            <li>
                <a href="/project/{{ project['project_id']}}">{{ project["title"] }}</a>
                in studio <a href="/studio/{{ project['studio_id'] }}">{{ studios[project["studio_id"]]["title"] }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <p>Is there a project missing from this list? Check back tomorrow to see if it appears. If not, you can reach us at <a href="mailto:gettingunstuck@gse.harvard.edu">gettingunstuck@gse.harvard.edu</a>.</p>
        {% endif %}
        <div class="border-yellow">
            <p style="text-align:center; margin-bottom:0rem" class="mt-3">Congratulations!</p>
            <div class="text-center">
                <form action="/user/{{ username }}" method="POST">
                    <button type="submit" class="btn btn-primary mt-2 mb-2 button round-btn">DOWNLOAD CERTIFICATE</button>
                </form>
            </div>
            
            <p style="text-align:center">We’d love to hear about your experiences in Getting Unstuck. <br>Please take our <a href="https://www.surveymonkey.com/r/get-unstuck-2020" target="_blank">feedback survey</a>.</p>

        </div>

    </div>
    <div class="col-md-5 vert-center">
        <img src="{{ url_for('static', filename='img/SIGCSE_Motivation.png') }}" class="mt-5 w-100">
    </div>
</div>
{% endblock %}