{% extends "layout.html" %}
{% block title %}{{ username }} &minus; {% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-12">
        <br><br>
        <h1>
            {{ username }}
        </h1>
        <p><a href="https://scratch.mit.edu/users/{{ username }}" target="_blank">View user on Scratch</a></p>
<br>
        {% if projects == []: %}
        <p>
            Oh no! It doesn&rsquo;t look like we were able to find any Getting Unstuck projects for your username. Have you added 
            your projects to each day&rsquo;s studio yet? If so, check back in tomorrow, as we download each day&rsquo;s studio every day. 
            Sorry about that!
        </p>
        <img class="bug centered" src="{{ url_for('static', filename='img/SIGCSE_Bugs.png') }}"></img> 

        {% else: %}
        <h5>Here are all of the Getting Unstuck projects by <a href="https://scratch.mit.edu/users/{{ username }}">{{ username }}</a>:</h5>
        <ul>
            {% for project in projects: %}
            <li>
                <a href="/project/{{ project['project_id']}}">{{ project["title"] }}</a>
                in studio <a href="https://scratch.mit.edu/studios/{{ project['studio_id'] }}">{{ studios[project["studio_id"]]["title"] }}</a>
            </li>
            {% endfor %}
        </ul>
        <br>
        <h5>Is there a project missing from this list? Check back tomorrow to see if it appears. If not, you can reach us at <a href="mailto:gettingunstuck@gse.harvard.edu">gettingunstuck@gse.harvard.edu</a>.</h5>
        {% endif %}
    </div>
</div>
{% endblock %}